@model QREST.Models.vmAdminEmailConfig
@{
    ViewBag.Title = "Email Template Configuration";
}

<section class="hbox">
    <section class="aside-md panel panel-qrest" id="subNav" style="border-radius: 4px 0px 0px 4px;">
        <header class="panel-heading font-bold" style="border-right: 1px solid #fff">Email Templates</header>
        <ul class="nav">
            @foreach (var item in Model.T_QREST_EMAIL_TEMPLATE)
            {
                <li class="b-b b-light">
                    <a href="@Url.Action("EmailConfig", "Admin", new { id = item.EMAIL_TEMPLATE_ID })" class="@(item.EMAIL_TEMPLATE_ID==@Model.editID ? "master-active" : "")">@item.EMAIL_TEMPLATE_NAME</a>
                </li>
            }
        </ul>
    </section>
    <section class="panel panel-qrest" style="border-radius: 0px 4px 4px 0px;">
        <header class="panel-heading font-bold">Details</header>
        <div class="panel-body">
            @using (Html.BeginForm("EmailConfig", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.editID)
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            Email Subject
                            @Html.TextBoxFor(model => model.editSUBJ, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.editSUBJ)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            Email Body
                            @Html.EditorFor(model => model.editMSG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.editMSG)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </section>
</section>
