@model QREST.Models.vmAdminHelpConfig
@{
    ViewBag.Title = "Online Help Configuration";
    ViewBag.HelpLink = "Online-Help-Configuration";
}

<section class="hbox">
    <section class="aside-md panel panel-qrest" id="subNav" style="border-radius: 4px 0px 0px 4px;">
        <header class="panel-heading font-bold" style="border-right: 1px solid #fff">Help Topics</header>
        <ul class="nav">
            @foreach (var item in Model.HelpTopics)
            {
                <li class="b-b b-light">
                    <a href="@Url.Action("HelpConfig", "Admin", new { id = item.HELP_IDX })" class="@(item.HELP_IDX==@Model.EditHelp.HELP_IDX ? "master-active" : "")"><i class="fa fa-chevron-right pull-right m-t-xs text-xs icon-muted"></i>@item.HELP_TITLE</a>
                </li>
            }
        </ul>
        <a id="AddSection" href="#" class="btn btn-sm btn-primary btn-rounded m-sm"><i class="fa fa-plus"></i> Add</a>
        <div class="delete-section" style="display:inline-block">
            <a class=" btn btn-rounded btn-sm btn-danger delete-link"><i class="fa fa-times"></i> Delete</a>
            <div class="btn btn-rounded btn-sm btn-warning delete-confirm" style="display:none" data-delete-id="@Model.EditHelp.HELP_IDX" data-delete-p="/Admin/HelpConfigDelete" data-success-url="/Admin/HelpConfig"><b>Confirm Delete</b></div>
        </div>
    </section>
    <section class="panel panel-qrest" style="border-radius: 0px 4px 4px 0px;">
        <header class="panel-heading font-bold">Details</header>

        <div class="panel-body">
            @using (Html.BeginForm("HelpConfig", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.EditHelp.HELP_IDX)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            Help Topic Name
                            @Html.TextBoxFor(model => model.EditHelp.HELP_TITLE, new { @class = "form-control", maxlength=40 })
                            @Html.ValidationMessageFor(model => model.EditHelp.HELP_TITLE)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            Sort Sequence
                            @Html.TextBoxFor(model => model.EditHelp.SORT_SEQ, new { @class = "form-control", maxlength = 3 })
                            @Html.ValidationMessageFor(model => model.EditHelp.SORT_SEQ)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            Category
                            @Html.TextBoxFor(model => model.EditHelp.HELP_CAT, new { @class = "form-control", maxlength = 50 })
                            @Html.ValidationMessageFor(model => model.EditHelp.HELP_CAT)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            Help Body
                            @Html.EditorFor(model => model.editHelpHtml, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EditHelp.HELP_HTML)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            }
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="addSectionModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                @using (Html.BeginForm("HelpConfig", "Admin", FormMethod.Post))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Help Topic</h4>
                    </div>
                    <div class="modal-body">

                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.EditHelp.HELP_IDX, new { id = "hdnHelpIdx" })

                        @Html.ValidationSummary(true)

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label>Help Topic Name</label>
                                        </div>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(model => model.EditHelp.HELP_TITLE, new { @class = "form-control", id = "tbSection" })
                                            @Html.ValidationMessageFor(model => model.EditHelp.HELP_TITLE)
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @Scripts.Render("~/bundles/confirm-delete")
    @Scripts.Render("~/bundles/areyousure")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#AddSection").click(function () {
                $("#hdnHelpIdx").val("0");
                $("#tbSection").val("");
                $("#addSectionModal").modal("show");
            });

        });
    </script>
}