@model QREST.Models.vmAdminTrainingStepEdit
@{
    ViewBag.Title = "Training Step Details";
}


<div class="row">

    @using (Html.BeginForm("TrainingLessonStep", "Admin", FormMethod.Post, new { @id = "norepostform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.step.LESSON_STEP_IDX)
        @Html.HiddenFor(model => model.step.LESSON_IDX)

        <div class="col-md-6">
            <section class="panel panel-qrest">
                <header class="panel-heading font-bold">Lesson General Info</header>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Step Description</label>
                                @Html.EditorFor(model => model.stepDesc)
                                @Html.ValidationMessageFor(model => model.step.LESSON_STEP_DESC)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Step Sequence in Lesson</label>
                                @Html.TextBoxFor(model => model.step.LESSON_STEP_SEQ, new { @class = "form-control cleave-num-no-comma", @maxlength = "2", @style = "max-width:125px" })
                                @Html.ValidationMessageFor(model => model.step.LESSON_STEP_SEQ)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>How Will Trainee Indicate This Step is Complete?</label>
                            <br />
                            <label class="btn ">
                                @Html.RadioButtonFor(m => m.completeType, "BTN", new { @class = "form-control pinger" }) Button Click
                            </label>
                            <label class="btn ">
                                @Html.RadioButtonFor(m => m.completeType, "URL", new { @class = "form-control pinger" }) Click Link
                            </label>
                            <label class="btn ">
                                @Html.RadioButtonFor(m => m.completeType, "VID", new { @class = "form-control pinger" }) Watch Video
                            </label>
                            @Html.ValidationMessageFor(m => m.completeType)
                        </div>
                    </div>

                    <div id="opt1" class="row opts text-primary m-l-md m-t-md" style="display:none;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-bold">Require trainee to click on a confirmation button after reading the description above</label>
                            </div>
                        </div>
                    </div>
                    <div id="opt2" class="row opts text-primary m-l-md m-t-md" style="display:none;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-bold">Require trainee to click on the following link (e.g. https://www.example.com/)</label>
                                @Html.TextBoxFor(model => model.step.REQUIRED_URL, new { @class = "form-control", @maxlength = "250" })
                            </div>
                        </div>
                    </div>
                    <div id="opt3" class="row opts text-primary m-l-md m-t-md" style="display:none;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-bold">Require trainee to watch the following Youtube video (only include string code e.g. NvMrCgjHzYA)</label>
                                @Html.TextBoxFor(model => model.step.REQUIRED_YT_VID, new { @class = "form-control", @maxlength = "250" })
                            </div>
                        </div>
                    </div>

                    <p>
                        <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                        <a class="btn btn-default" href="@Url.Action("TrainingLesson", new { id = Model.step.LESSON_IDX })">Back to Lesson</a>
                    </p>
                </div>
            </section>
        </div>
    }


</div>

@section scripts {
    @Scripts.Render("~/bundles/areyousure")
    @Scripts.Render("~/bundles/cleave")


<script type="text/javascript">

    $(document).ready(function () {

        var xxx = '@Model.completeType';
        optShowHIde(xxx);

        //display div based on selecting radio button
        $('.pinger').click(function () {
            optShowHIde(this.value);
        });

        function optShowHIde(s1) {
            $(".opts").hide();
            if (s1 == "URL") {
                $("#opt2").show();
            }
            else if (s1 == "VID") {
                $("#opt3").show();
            }
            else {
                $("#opt1").show();
            }
        }
    });
</script>
}

