@model QREST.Models.vmAdminUserEdit
@{
    ViewBag.Title = "Edit User";
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">User Details</header>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.user.Id)

            @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>First Name</label>
                    @Html.TextBoxFor(model => model.user.FNAME, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.user.FNAME)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Last Name</label>
                    @Html.TextBoxFor(model => model.user.LNAME, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.user.LNAME)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    @Html.TextBoxFor(model => model.user.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.user.Email)
                </div>
            </div>
        </div>

            <p>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <a class=" btn btn-sm btn-default" href="@Url.Action("UserList" )">Back to List</a>
            </p>

        }

    </div>
</section>


<div class="row">
    <!-- start: USER ROLE ASSIGNMENT -->
    <div class="col-md-6">
        <section class="panel panel-qrest">
            <div class="panel-heading font-bold">Global Role Assignment</div>
            <div class="panel-body">
                @using (Html.BeginForm("UserRoleEdit", "Admin", FormMethod.Post, new { @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.user.Id)

                    <div class="row">
                        <div class="col-md-5 col-sm-12" style="  ">
                            <div class="form-group">
                                <label>Available Roles</label>
                                @Html.ListBoxFor(model => model.Roles_Not_In_User_Selected, Model.Roles_Not_In_User, new { @class = "form-control", size = 5 })
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-2 " style="  ">
                            <div class="form-group md-p-t-none">
                                <button type="submit" name="submitButton" value="Add" class="btn btn-sm btn-primary btn-block" style="min-width:80px">
                                    Add <i class="fa fa-chevron-right"></i>
                                </button>
                                <button type="submit" name="submitButton" value="Remove" class="btn btn-sm btn-primary btn-block" style="min-width:80px">
                                    <i class="fa fa-chevron-left"></i> Remove
                                </button>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12" style="  ">
                            <div class="form-group">
                                <label>User's Roles</label>
                                @Html.ListBoxFor(model => model.Roles_In_User_Selected, Model.Roles_In_User, new { @class = "form-control", size = 5 })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
    <!-- end: USER ROLE ASSIGNMENT -->
    <!-- USER ORGANIZATIONS -->
    <div class="col-md-6">
        <section class="panel panel-qrest">
            <div class="panel-heading font-bold">User Organizations</div>
            <div class="panel-body">
                <div class="table-responsive">
                    @if (Model.user_orgs != null)
                    {
                    <table class="table table-striped table-bordered" data-ride="datatables">
                        <thead>
                            <tr>
                                <th style="min-width: 70px;">Edit</th>
                                <th>Organization</th>
                                <th>Access Level</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.user_orgs)
                        {
                            <tr>
                                <td>
                                    <a href="#modal-form" class="btn btn-rounded btn-xs btn-primary modal-it" data-toggle="modal" data-orgid="@item.ORG_ID" data-accesslevel="@item.ACCESS_LEVEL" data-status="@item.STATUS_IND"><i class="fa fa-pencil"></i> Edit</a>
                                    <div class="delete-section" style="display:inline-block">
                                        <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                        <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.ORG_USER_IDX" data-delete-p="/Admin/UserOrgDelete"><b>Confirm Delete</b></div>
                                    </div>
                                    @Html.HiddenFor(modelItem => item.ORG_USER_IDX)
                                    @Html.HiddenFor(modelItem => item.USER_IDX)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ORG_NAME)
                                </td>
                                <td>
                                    @if (item.ACCESS_LEVEL == "A")
                                    {
                                        <span class="badge bg-success"> Admin</span>
                                    }
                                    else if (item.ACCESS_LEVEL == "U")
                                    {
                                        <span class="badge bg-info"> Operator</span>
                                    }
                                    else if (item.ACCESS_LEVEL == "R")
                                    {
                                        <span class="badge bg-danger"> Read Only</span>
                                    }
                                    else if (item.ACCESS_LEVEL == "Q")
                                    {
                                        <span class="badge bg-warning"> QA Reviewer</span>
                                    }
                                </td>
                                <td>
                                    @if (item.STATUS_IND == "A")
                                    {
                                        <span class="badge bg-success"> Active</span>
                                    }
                                    else if (item.STATUS_IND == "P")
                                    {
                                        <span class="badge bg-warning"> Pending</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger"> Rejected</span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                    }
                </div>
                <div class="m-t-sm">
                    <a id="add-it" href="#modal-form" data-toggle="modal" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Organization</a>
                </div>

            </div>
        </section>
    </div>
    <!-- end: USER ORGANIZATIONS -->
</div>


<!-- START MODAL FORM  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("OrgEditUser", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.edit_user_idx)
            @Html.HiddenFor(model => model.edit_typ)
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title">Organization User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Organization</label>
                                @Html.DropDownListFor(model => model.edit_org_id, Model.ddl_Org, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Access Level</label>
                                @Html.DropDownListFor(model => model.edit_org_user_access_level, Model.ddl_user_role, "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                @Html.DropDownListFor(model => model.edit_org_user_status, Model.ddl_user_status, "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END MODAL FORM -->


@section Scripts {
    @Scripts.Render("~/bundles/confirm-delete")

    <script type="text/javascript">
        $(document).ready(function () {
            //create an event when button is clicked to display modal
            $(".modal-it").click(function () {
                $('#edit_org_id').val($(this).data('orgid'));
                $('#edit_org_user_access_level').val($(this).data('accesslevel'));
                $('#edit_org_user_status').val($(this).data('status'));
            });
        });
    </script>
}
