@model QREST.Models.vmAdminUserList
@{
    ViewBag.Title = "Users";
    ViewBag.SubTitle = "Manage application users";
    ViewBag.HelpLink = "User-Management";
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">
        Users
        <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
    </header>
    <div class="panel-body">
        <form class="form-inline m-b-sm" onsubmit="return false">
            <span class="">User Type:</span>
            <select name="usertype" id="usertype" class="form-control">
                <option value="0">--Select All--</option>
                <option value="1">Global Admin</option>
                <option value="2">Tribal Admin</option>
                <option value="3">Tribal QA</option>
                <option value="4">Tribal Operator</option>
            </select>
            <button id="btnGo" class="btn btn-sm btn-primary">Go</button>
        </form>
        <div class="table-responsive">
            <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Created</th>
                        <th>Last Login</th>
                        <th>Status</th>
                        <th>Global Admin</th>
                        <th>Tribal Admin</th>
                        <th>QA Reviewer</th>
                        <th>Operator</th>
                        <th>Read Only</th>
                    </tr>
                </thead>
            </table>
        </div>
        <button id="btnShowMail" class="btn btn-primary btn-xs pull-right m-t-sm" data-toggle="modal" data-target="#emailModal">Email Filtered Users</button>
    </div>
</section>

<!-- EMAIL MODAL START -->
<section id="emailModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <header class="modal-title">Email</header>
            </div>
            @using (Html.BeginForm("UserListEmail", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.usertype)

                <div class="modal-body">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    Email Subject:
                                    @Html.TextBoxFor(model => model.EmailSubject, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.EmailSubject)
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    Email Body
                                    @Html.EditorFor(model => model.emailBodyHtml, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.emailBodyHtml)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" onclick="SendMail(); return false;" class="btn btn-primary">Send Mail</button>
                </div>
            }
        </div>
    </div>
</section>

@Html.Partial("_PleaseWait", "Shared")
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/confirm-delete")

    <script type="text/javascript">
        var table;
        $(document).ready(function () {

            moment.updateLocale(moment.locale(), { invalidDate: "" });

            // datatable initialization
            table = $("#gridData").DataTable({
                "responsive": true,
                "serverSide": true,
                "processing": true,
                "orderMulti": false,
                "lengthChange": false,
                "paging": true,
                "pageLength": 25,
                "pagingType": "full_numbers",
                "info": false,
                "searching": false,
                "ajax": {
                    "url": "@Url.Action("UserListData", "Admin")",
                    "type": "POST",
                    "datatype": "json",
                    "dataFilter": function (data) {
                        var json = jQuery.parseJSON(data);
                        json.recordsTotal = json.recordsFiltered;
                        json.recordsFiltered = json.recordsTotal;
                        json.data = json.data;
                        return JSON.stringify(json); // return JSON string
                    },
                    "data": function (d) {
                        return $.extend({}, d, {
                            "usertype": $('#usertype').val(),
                        });
                    }
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "orderable" : false
                        },
                    ],
                "columns": [
                    {
                        "render": function (data, type, row) {
                            var myUrl = "@(Url.Action("UserEdit","Admin"))" + "/" + row.USER_IDX;
                            return '<a href="' + myUrl + '" class="btn btn-rounded btn-xs btn-primary" style="display: inline-block;"> <i class="fa fa-pencil"></i> Edit</a>'
                                                            + '<div class="delete-section" style="display:inline-block;"><a class="btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a><div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="'
                                                            + row.USER_IDX + '" data-delete-path="@(Url.Content("~/"))" data-delete-p="/Admin/UserDelete"><b>Confirm Delete</b></div></div>';
                        }
                    },
                    { "data": "EMAIL", "name": "EMAIL", "autoWidth": true },
                    { "data": "FNAME", "name": "FNAME", "autoWidth": true },
                    { "data": "LNAME", "name": "LNAME", "autoWidth": true },
                    {
                        "data": "CREATE_DT",
                        "name": "CREATE_DT",
                        "autoWidth": true,
                        render: function (d) {
                            return moment(d).format("MM/DD/YYYY hh:mm A");
                        }
                    },
                    {
                        "data": "LAST_LOGIN_DT",
                        "name": "LAST_LOGIN_DT",
                        "autoWidth": true,
                        render: function (d) {
                            return moment(d).format("MM/DD/YYYY hh:mm A");
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            var xxx = '<span class="label label-success"> Active</span>';
                            if (row.LockoutEnd != null) {
                                xxx = '<span class="label label-warning"> Locked Out</span>';
                            }
                            else {
                                if (row.EmailConfirmed == false) {
                                    xxx = '<span class="label label-warning"> Awaiting Email Confirmation</span>';
                                }
                            }
                            return xxx;
                        }
                    },
                    {
                        "data": "ISGLOBALADMIN",
                        "name": "ISGLOBALADMIN",
                        "autoWidth": true,
                        "render": function (d) {
                            return d == true ? '<span class="label label-success"> Yes</span>' : '<span class="label label-warning"> No</span>';
                        }
                    },
                    {
                        "data": "IS_TRIBAL_ADMIN",
                        "name": "IS_TRIBAL_ADMIN",
                        "autoWidth": true,
                        "render": function (d, type, row) {
                            return d == true ? '<span class="label label-success"> Yes</span>' + (row.COUNT_ADMIN > 1 ? "<span class='badge badge-sm up bg-danger m-l-n-sm count' style='display: inline-block;'>" + row.COUNT_ADMIN + "</span>" : "") : '<span class="label label-warning"> No</span>';
                        }
                    },
                    {
                        "data": "IS_TRIBAL_QA",
                        "name": "IS_TRIBAL_QA",
                        "autoWidth": true,
                        "render": function (d, type, row) {
                            return d == true ? '<span class="label label-success"> Yes</span>' + (row.COUNT_QA > 1 ? "<span class='badge badge-sm up bg-danger m-l-n-sm count' style='display: inline-block;'>" + row.COUNT_QA + "</span>" : "") : '<span class="label label-warning"> No</span>';
                        }
                    },
                    {
                        "data": "IS_TRIBAL_OPERATOR",
                        "name": "IS_TRIBAL_OPERATOR",
                        "autoWidth": true,
                        "render": function (d, type, row) {
                            return d == true ? '<span class="label label-success"> Yes</span>' + (row.COUNT_OPERATOR > 1 ? "<span class='badge badge-sm up bg-danger m-l-n-sm count' style='display: inline-block;'>" + row.COUNT_OPERATOR + "</span>" : "") : '<span class="label label-warning"> No</span>';
                        }
                    },
                    {
                        "data": "IS_READONLY",
                        "name": "IS_READONLY",
                        "autoWidth": true,
                        "render": function (d, type, row) {
                            return d == true ? '<span class="label label-success"> Yes</span>' + (row.COUNT_READONLY > 1 ? "<span class='badge badge-sm up bg-danger m-l-n-sm count' style='display: inline-block;'>" + row.COUNT_READONLY + "</span>" : "") : '<span class="label label-warning"> No</span>';
                        }
                    }

                ],
                "createdRow": function (row, data, dataIndex) {
                    $('td:eq(0)', row).css('width', '90px');
                    $('td:eq(0)', row).css('min-width', '90px');
                    $('td:eq(0)', row).css('padding-right', '0px');
                    $('td:eq(0)', row).css('white-space', 'nowrap');
                },
                fnDrawCallback: function (oSettings) {
                    var totalPages = this.api().page.info().pages;
                    if (totalPages == 1) {
                        jQuery('.dataTables_paginate').hide();
                    }
                    else {
                        jQuery('.dataTables_paginate').show();
                    }
                }
            });

            //user type filter click
            $('#btnGo').on('click', function () {
                table.draw();
            })

        });

        function SendMail() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "@Url.Action("UserListEmail", "Admin")",
                data: {
                    usertype: $("#usertype").val(),
                    EmailSubject: $('#EmailSubject').val(),
                    emailBodyHtml: encodeURIComponent(tinyMCE.activeEditor.getContent())
                },
                success: function (response) {
                    if (response === "True") {
                        toastr.success("Email successfully sent to selected users.");
                    }
                    else {
                        toastr.warning(response);
                    }
                },
                error: function (response) {
                    toastr.warning("Error");
                }
            });

            $("#emailModal").modal('hide');
        }
    </script>
}
