@{
    ViewBag.HelpLink = "Reference-Data";
}

@using (Html.BeginForm("SiteList", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
<div class="form-group">
    <label class="col-sm-2 control-label">
        Reference Data Type:
    </label>
    <div class="col-sm-6">
        <select name="account" class="form-control m-b" onchange="location=this.value;">
            <option value="#">--Select--</option>
            <option value="@Url.Action("RefParMethod")" @(ViewBag.selOpt == "ParMethod" ? "selected" : String.Empty)>Parameter Methods</option>
            <option value="@Url.Action("RefPar")" @(ViewBag.selOpt == "Par" ? "selected" : String.Empty)>Parameters</option>
            <option value="@Url.Action("RefCollFreq")" @(ViewBag.selOpt == "CollFreq" ? "selected" : String.Empty)>Collection Frequency</option>
            <option value="@Url.Action("RefDuration")" @(ViewBag.selOpt == "Duration" ? "selected" : String.Empty)>Duration</option>
            <option value="@Url.Action("RefUnit")" @(ViewBag.selOpt == "Units" ? "selected" : String.Empty)>Units</option>
            <option value="@Url.Action("RefParUnit")" @(ViewBag.selOpt == "ParUnit" ? "selected" : String.Empty)>Parameter Units</option>
            <option value="@Url.Action("RefQualifier")" @(ViewBag.selOpt == "Qualifier" ? "selected" : String.Empty)>Qualifiers</option>
        </select>

    </div>

    @if (User.IsInRole("GLOBAL ADMIN"))
    {
        <a href="@(Url.Action("ImportData", "Admin"))" class="btn btn-warning btn-rounded pull-right m-r-lg">Import Ref Data</a>
    }
</div>
}
