@model QREST.Models.vmReportsRefParMethod
@{
    ViewBag.Title = "Reference Parameter Methods";
    ViewBag.HideTitle = true;
    ViewBag.selOpt = "ParMethod";
    ViewBag.HelpLink = "Reference-Data";
}

@Html.Partial("_RefDataTopNav")

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">
        Parameter Methods
        <a href="@Url.Action("ExportExcel", "Reports", new { act = "RefParMethod" })" class="btn btn-xs btn-primary pull-right">Export Excel</a>
    </header>
    <div class="panel-body">
        <form class="form-inline m-b-sm" onsubmit="return false">
            <input id="selSearch" name="selSearch" class="form-control" style="width:300px"  />
            <input id="selContinuousOnly" name="selContinuousOnly" type="checkbox" class="form-control" checked /><label for="selContinuousOnly" class="control-label"> Continuous Only</label>
            <button id="btnGo" class="btn  btn-primary">Filter</button>
        </form>
        <div class="table-responsive">
            <table id="gridData" class="table table-striped table-bordered table-tiny" data-ride="datatables" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Par</th>
                        <th>Par Name</th>
                        <th>Recording Mode</th>
                        <th>Method</th>
                        <th>Collection</th>
                        <th>Analysis</th>
                        <th>Ref Method</th>
                        <th>Equivalent Method</th>
                        <th>Std Unit</th>
                        <th>Federal MDL</th>
                        <th>Fed Max</th>
                        <th>QREST Min</th>
                        <th>QREST Max</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>


<!-- START EDIT MODAL  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="width:600px">

        @using (Html.BeginForm("RefParMethod", "Reports", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.editPAR_METHOD_IDX)
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title">Add/Edit Parameter Method</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Custom Minimum Limit</label>
                                @Html.TextBoxFor(model => model.editCUST_MIN_VALUE, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Custom Maximum Limit</label>
                                @Html.TextBoxFor(model => model.editCUST_MAX_VALUE, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Collection Description</label>
                                @Html.TextBoxFor(model => model.editCOLLECTION_DESC, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END  MODAL -->

@Html.Partial("_PleaseWait", "Shared")
@section scripts {
    @Scripts.Render("~/bundles/confirm-delete")
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">

        $(document).ready(function() {

            // datatable initialization
            var table = $("#gridData").DataTable({
                "responsive": true,
                "serverSide": true,
                "processing": true,
                "ordering": false,
                "orderMulti": false,
                "lengthChange": false,
                "paging": true,
                "pageLength": 20,
                "pagingType": "full_numbers",
                "info": false,
                "searching": false,
                "ajax": {
                    "url": "@Url.Action("RefParMethodData", "Reports")",
                    "type": "POST",
                    "datatype": "json",
                    "error": function() {},
                    "data": function(d) {
                        return $.extend({},
                            d,
                            {
                                "selSearch": $('#selSearch').val(),
                                "selContinuousOnly": $('#selContinuousOnly').is(':checked')
                            });
                    }
                },
                "columnDefs":
                [
                    {
                        "targets": [1],
                        "orderable": false
                    }
                ],
                "columns": [
                    {
                        "render": function(data, type, row) {
                            if (row.T_QREST_REF_PAR_METHODS.PAR_CODE.substring(0, 1) !== "Q") {
                                return '<a href="#modal-form" data-toggle="modal" data-id="' + row.T_QREST_REF_PAR_METHODS.PAR_METHOD_IDX + '" data-desc="' + row.T_QREST_REF_PAR_METHODS.COLLECTION_DESC + '" data-min="' + (row.T_QREST_REF_PAR_METHODS.CUST_MIN_VALUE || "") + '" data-max="' + (row.T_QREST_REF_PAR_METHODS.CUST_MAX_VALUE || "") + '" class="btn btn-rounded btn-xs btn-primary modal-it" style="display: inline-block;">Edit</a>';
                            } else
                                return '<a href="#modal-form" data-toggle="modal" data-id="' + row.T_QREST_REF_PAR_METHODS.PAR_METHOD_IDX + '" data-desc="' + row.T_QREST_REF_PAR_METHODS.COLLECTION_DESC + '" data-min="' + (row.T_QREST_REF_PAR_METHODS.CUST_MIN_VALUE || "") + '" data-max="' + (row.T_QREST_REF_PAR_METHODS.CUST_MAX_VALUE || "") + '" class="btn btn-rounded btn-xs btn-primary modal-it" style="display: inline-block;">Edit</a>' +
                                    '<div class="delete-section" style="display:inline-block;"><a class="btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a><div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="'
                                    + row.T_QREST_REF_PAR_METHODS.PAR_METHOD_IDX + '" data-delete-path="@(Url.Content("~/"))" data-delete-p="/Reports/RefParMethDelete"><b>Confirm Delete</b></div></div>';
                        }
                    },
                    { "data": "T_QREST_REF_PAR_METHODS.PAR_CODE", "name": "T_QREST_REF_PAR_METHODS.PAR_CODE", "autoWidth": true },
                    { "data": "PAR_NAME", "name": "PAR_NAME", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.RECORDING_MODE", "name": "T_QREST_REF_PAR_METHODS.RECORDING_MODE", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.METHOD_CODE", "name": "T_QREST_REF_PAR_METHODS.METHOD_CODE", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.COLLECTION_DESC", "name": "T_QREST_REF_PAR_METHODS.COLLECTION_DESC", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.ANALYSIS_DESC", "name": "T_QREST_REF_PAR_METHODS.ANALYSIS_DESC", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.REFERENCE_METHOD_ID", "name": "T_QREST_REF_PAR_METHODS.REFERENCE_METHOD_ID", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.EQUIVALENT_METHOD", "name": "T_QREST_REF_PAR_METHODS.EQUIVALENT_METHOD", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.STD_UNIT_CODE", "name": "T_QREST_REF_PAR_METHODS.STD_UNIT_CODE", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.MIN_VALUE", "name": "T_QREST_REF_PAR_METHODS.MIN_VALUE", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.MAX_VALUE", "name": "T_QREST_REF_PAR_METHODS.MAX_VALUE", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.CUST_MIN_VALUE", "name": "T_QREST_REF_PAR_METHODS.CUST_MIN_VALUE", "autoWidth": true },
                    { "data": "T_QREST_REF_PAR_METHODS.CUST_MAX_VALUE", "name": "T_QREST_REF_PAR_METHODS.CUST_MAX_VALUE", "autoWidth": true }
                ],
                "createdRow": function(row) {
                    $('td:eq(0)', row).css('width', '80px');
                    $('td:eq(0)', row).css('min-width', '80px');
                    $('td:eq(0)', row).css('padding-right', '0');
                    $('td:eq(0)', row).css('white-space', 'nowrap');
                }
            });


            //load modal
            $(document).on('click',
                '.modal-it',
                function() {
                    $("#editPAR_METHOD_IDX").val($(this).attr('data-id'));
                    $("#editCUST_MIN_VALUE").val($(this).attr('data-min'));
                    $("#editCUST_MAX_VALUE").val($(this).attr('data-max'));
                    $("#editCOLLECTION_DESC").val($(this).attr('data-desc'));
                });

            //filter click
            $('#btnGo').on('click',
                function() {
                    table.draw();
                });

        });

    </script>

}
