@model QREST.Models.vmDashboardIndex
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageConfig = true;
}
@if (!string.IsNullOrEmpty(Model.Announcement))
{
    <div class="alert alert-block alert-info fade in">
        <button data-dismiss="alert" class="close" type="button">×</button>
        @Html.Raw(HttpUtility.HtmlDecode(Model.Announcement))
    </div>
}


<section class="panel panel-default">
    <div class="row m-l-none m-r-none bg-light lter">
        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-bell fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("Notifications", "Account")">
                <span class="h3 block m-t-xs"><strong id="firers">@Model.MyAlertCount</strong></span>
                <small class="text-muted text-uc">Notifications</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x icon-muted"></i>
                <i class="fa fa-clock-o fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("SiteList", "Site")">
                <span class="h4 block m-t-xs">
                    @if (Model.T_QREST_SITES != null && Model.T_QREST_SITES.Count > 0)
                    {
                        @Model.T_QREST_SITES[0].POLLING_LAST_RUN_DT
                    }
                    else
                    {
                        <strong>N/A</strong>
                    }
                </span>
                <small class="text-muted text-uc">Last Poll (UTC)</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-map-marker fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("SiteList", "Site")">
                <span class="h3 block m-t-xs"><strong>@Model.MySiteCount</strong></span>
                <small class="text-muted text-uc">My Air Sites</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                <i class="fa fa-search fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("MonitorList", "Site")">
                <span class="h3 block m-t-xs"><strong id="bugs">@Model.MyMonitorCount</strong></span>
                <small class="text-muted text-uc">My Monitors</small>
            </a>
        </div>

    </div>
</section>
<div class="row">
    <div class="col-md-8">
        <section class="panel panel-qrest" style="border-bottom-left-radius:0px; border-bottom-right-radius:0px">
            <header class="panel-heading font-bold">My Sites</header>
            <div class="">
                <div id="map_canvas" style="width: 100%; height: 400px; padding: 0; margin: 0;"></div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel panel-qrest">
            <header class="panel-heading font-bold">
                Monitor Quickview
                <span class="pull-right"><small class="text-muted">Alerts: <span class="badge bg-primary">None</span></small></span>
            </header>
            <div class="bg-light dk wrapper">
                <span class="pull-right">Past 24 hours</span>
                <span class="h3">PM2.5</span>
                <div class="text-center m-b-n m-t-sm">
                    <canvas id="myChart" width="400" height="200"></canvas>

                </div>
            </div>
            <div class="panel-body">
                <div>
                    <span class="h4 block">Monitor Health</span>
                </div>
                <div class="line pull-in"></div>
                <div class="row m-t-sm">
                    <div class="col-xs-3">
                        <small class="text-muted block">Last <br />Poll</small>
                        <span class="badge bg-primary">35 Min</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last <br />QC</small>
                        <span class="badge bg-danger">80 Days</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last AQS <br />Review</small>
                        <span class="badge bg-warning">12 Days</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last AQS <br />Submit</small>
                        <span class="badge bg-danger">45 Days</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        Chart.defaults.global.legend.display = false;
        var myChart = new Chart(ctx, {
            type: 'line',
            label: '',
            data: {
                labels: ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00'],
                datasets: [{
                    data: [12, 13, 11, 9, 8, 7],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>

    <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.13/"></script>
    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/Graphic"
        ], function (Map, MapView, Graphic) {

                var map = new Map({
                    basemap: "topo-vector"
                });

                var view = new MapView({
                    container: "map_canvas",
                    map: map,
                    center: [-102, 37],
                    zoom: 4
                });

                function AddPoint(lat, long, sitename, org, aqs, monthlyuri, annualuri, dailyuri, configuri, qauri) {

                    // Create popup template
                    var popupTemplate = {
                        title: "<b>{Name}</b>",
                        content: "<b>Maintained by:</b> {Org}<br/><b>AQS Site ID:</b> {Aqs}<br/><b>Lat/Long:</b> {Location}<br/><a class='badge bg-warning' href='" + dailyuri + "'>Today's Data</a><a class='badge bg-default m-l-md' href='" + monthlyuri + "'>Monthly Summary</a><a class='badge bg-info m-l-md' href='" + annualuri + "'>Annual Summary</a><br/><a class='badge bg-danger  m-t-sm' href='" + configuri + "'>Site Config</a><a class='badge btn-dark m-l-md m-t-sm' href='" + qauri + "'>QA Data Review</a>"
                    };

                    var pointGraphic = new Graphic({
                        geometry: {
                            type: "point",
                            longitude: long,
                            latitude: lat
                        },
                        symbol: {
                            type: "simple-marker",
                            color: [226, 119, 40],
                            outline: {
                            color: [0, 0, 0],
                            width: 1
                            }
                        },
                        attributes: {
                            Name: sitename,
                            Org: org,
                            Aqs: aqs,
                            Location: lat + " / " + long
                        },
                        popupTemplate: popupTemplate
                    });

                    view.graphics.add(pointGraphic);
                };


                // the hitTest() checks to see if any graphics in the view intersect the given screen x, y coordinates
                view.on("pointer-move", function (evt) {
                    var screenPoint = {
                        x: evt.x,
                        y: evt.y
                    };

                    view.hitTest(screenPoint)
                        .then(function (response) {
                            if (response.results.length > 0) {
                                if (response.results[0].graphic.layer.title != 'World Topo') 
                                    document.getElementById("map_canvas").style.cursor = "pointer";
                                else
                                    document.getElementById("map_canvas").style.cursor = "default";
                            } 
                        });
                });


                @foreach (var item in Model.T_QREST_SITES)
                {
                    if (item.LATITUDE != null && item.LONGITUDE != null && item.SITE_NAME != null)
                    {
                        <text>
                        AddPoint(@item.LATITUDE, @item.LONGITUDE, '@item.SITE_NAME', '@item.ORG_ID', '@item.STATE_CD-@item.COUNTY_CD-@item.AQS_SITE_ID', '@Url.Action("ReportMonthly", "Home", new { id= item.SITE_IDX })', '@Url.Action("ReportAnnual", "Home", new { id= item.SITE_IDX })', '@Url.Action("ReportDaily", "Home", new { id= item.SITE_IDX })', '@Url.Action("SiteEdit", "Site", new { id= item.SITE_IDX })', '@Url.Action("DataReview", "Data", new { id= item.SITE_IDX })');
                        </text>
                    }
                }
        });



    </script>
}

