@model QREST.Models.vmDashboardIndex
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageConfig = true;
}
@if (!string.IsNullOrEmpty(Model.Announcement))
{
    <div class="alert alert-block alert-info fade in">
        <button data-dismiss="alert" class="close" type="button">×</button>
        @Html.Raw(HttpUtility.HtmlDecode(Model.Announcement))
    </div>
}


<section class="panel panel-default">
    <div class="row m-l-none m-r-none bg-light lter">
        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-bell fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("Notifications", "Account")">
                <span class="h3 block m-t-xs"><strong id="firers">@Model.MyAlertCount</strong></span>
                <small class="text-muted text-uc">Notifications</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x icon-muted"></i>
                <i class="fa fa-clock-o fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("SiteList", "Site")">
                <span class="h3 block m-t-xs"><strong>N/A</strong></span>
                <small class="text-muted text-uc">Last Poll</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-map-marker fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("SiteList", "Site")">
                <span class="h3 block m-t-xs"><strong>@Model.MySiteCount</strong></span>
                <small class="text-muted text-uc">My Air Sites</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                <i class="fa fa-search fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="@Url.Action("MonitorList", "Site")">
                <span class="h3 block m-t-xs"><strong id="bugs">@Model.MyMonitorCount</strong></span>
                <small class="text-muted text-uc">My Monitors</small>
            </a>
        </div>

    </div>
</section>
<div class="row">
    <div class="col-md-8">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Map Showing My Sites</header>
            <div class="panel-body">

                <div id="map_canvas" style="width: 100%; height: 400px;"></div>

            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel panel-qrest">
            <header class="panel-heading font-bold">
                Site: Test Canyon 001
                <span class="pull-right"><small class="text-muted">Alerts: <span class="badge bg-primary">None</span></small></span>
            </header>
            <div class="bg-light dk wrapper">
                <span class="pull-right">Past 24 hours</span>
                <span class="h3">PM2.5</span>
                <div class="text-center m-b-n m-t-sm">
                    <canvas id="myChart" width="400" height="200"></canvas>

                </div>
            </div>
            <div class="panel-body">
                <div>
                    <span class="h4 block">Monitor Health</span>
                </div>
                <div class="line pull-in"></div>
                <div class="row m-t-sm">
                    <div class="col-xs-3">
                        <small class="text-muted block">Last <br />Poll</small>
                        <span class="badge bg-primary">35 Min</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last <br />QC</small>
                        <span class="badge bg-danger">80 Days</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last AQS <br />Review</small>
                        <span class="badge bg-warning">12 Days</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last AQS <br />Submit</small>
                        <span class="badge bg-danger">45 Days</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        Chart.defaults.global.legend.display = false;
        var myChart = new Chart(ctx, {
            type: 'line',
            label: '',
            data: {
                labels: ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00'],
                datasets: [{
                    data: [12, 13, 11, 9, 8, 7],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>

    <script src="https://js.arcgis.com/3.25/"></script>
    @if (Model != null)
    {
        @*<script type="text/javascript">
            function LoadMap() {
                var map;
                require(["esri/map",
                    "esri/geometry/Point",
                    "esri/symbols/SimpleMarkerSymbol",
                    "esri/graphic",
                    "esri/Color", "dojo/domReady!"
                ],
                    function (Map,
                        Point,
                        SimpleMarkerSymbol,
                        Graphic,
                        Color
                    ) {
                        map = new Map("map_canvas", {
                            basemap: "topo"
                        });
                        //define marker style
                        var s = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([255, 0, 0, 2]));
                        //map.on("load", showMap);
                        //map.on("click", addPoint);
                        function showMap() {
                            map.graphics.clear();
                            if ($("#longitude").val() != 0 && $("#latitude").val() != 0) {
                                var p = new Point($("#longitude").val(), $("#latitude").val());
                                map.graphics.add(new Graphic(p, s));
                                map.centerAndZoom(p, 9);
                            }
                            else {
                                var p = new Point(-95.96826, 36.14520);
                                map.centerAndZoom(p, 9);
                            }
                        }
                        //when map is clicked, add or move point on map and (re)populate pop modal textboxes
                        function addPoint(evt) {
                            map.graphics.clear();
                            map.graphics.add(new Graphic(evt.mapPoint, s));
                            $("#txtLat1").val(evt.mapPoint.getLatitude().toFixed(5));
                            $("#txtLong1").val(evt.mapPoint.getLongitude().toFixed(5));
                        }
                    });
            }

            LoadMap();
        </script>*@
    }
}

