@using QREST.App_Logic.BusinessLogicLayer
@model QREST.Models.vmSiteSiteEdit
@{
    ViewBag.HelpLink = "Site-Management";
    if (Model.SITE_IDX == null)
    {
        ViewBag.Title = "Add Site";
    }
    else
    {
        ViewBag.Title = "Edit Site";
    }
}
<link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">

<div class="row">

    @using (Html.BeginForm("SiteEdit", "Site", FormMethod.Post, new { @id = "norepostform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SITE_IDX)

        <div class="col-md-6">
            <section class="panel panel-qrest">
                <header class="panel-heading font-bold">Site Details</header>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.SITE_ID, "Site ID", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.SITE_ID, new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.SITE_ID)
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.SITE_NAME, "Site Name", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.SITE_NAME, new { @class = "form-control", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.SITE_NAME)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.ORG_ID, "Organization", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ORG_ID, Model.ddl_Organization, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ORG_ID)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.AQS_SITE_ID, "AQS Site ID", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.AQS_SITE_ID, new { @class = "form-control cleave-num-no-comma", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.AQS_SITE_ID)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group2">
                                <label>Site Comments</label>
                                @Html.TextAreaFor(model => model.SITE_COMMENTS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SITE_COMMENTS)
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <h4 class="font-bold">LOCATION</h4>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Latitude / Longitude</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.LATITUDE, new { @id = "latitude", @class = "form-control", @maxlength = "18" })
                                    <span class="input-group-addon">/</span>
                                    @Html.TextBoxFor(model => model.LONGITUDE, new { @id = "longitude", @class = "form-control", @maxlength = "18" })
                                    <span class="input-group-btn">
                                        <a href="#modal-form" data-toggle="modal" id="btnShow" class="btn btn-primary"><i class="fa fa-globe"></i> Select on Map</a>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.LATITUDE)
                                @Html.ValidationMessageFor(model => model.LONGITUDE)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Elevation (m)</label>
                                @Html.TextBoxFor(model => model.ELEVATION, new { @class = "form-control cleave-num", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.ELEVATION)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.LOCAL_TIMEZONE, "Local Time Zone", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.LOCAL_TIMEZONE, Model.ddl_TimeZone, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LOCAL_TIMEZONE)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.ADDRESS)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City</label>
                                @Html.TextBoxFor(model => model.CITY, new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.CITY)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>State</label>
                                @Html.DropDownListFor(model => model.STATE_CD, Model.ddl_State, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.STATE_CD)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>County</label>
                                @Html.DropDownListFor(model => model.COUNTY_CD, Model.ddl_County, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.COUNTY_CD)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ZIP</label>
                                @Html.TextBoxFor(model => model.ZIP_CODE, new { @class = "form-control zip-cleave", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.ZIP_CODE)
                            </div>
                        </div>

                    </div>
                    <div class="line line-dashed line-lg pull-in "></div>
                    <h4 class="font-bold" style="margin-left:-5px;">DATA CONNECTIVITY</h4>
                    <div class="form-group">
                        <label class="checkbox-inline label-lg">
                            @Html.CheckBoxFor(model => model.POLLING_ONLINE_IND, new { @class = "" })
                            Enable Automatic Data Retrieval
                        </label>
                        @Html.ValidationMessageFor(model => model.POLLING_ONLINE_IND)
                        <a href="@(Url.Action("SitePollConfig", "Site", new { id = Model.SITE_IDX }))" class="btn btn-xs btn-warning btn-rounded m-l-xs "><i class="fa fa-cog"></i> Config Polling</a>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline label-lg">
                            @Html.CheckBoxFor(model => model.PUB_WEB_IND, new { @class = "" })
                            Enable Realtime Display on Public QREST Website
                        </label>
                        @Html.ValidationMessageFor(model => model.PUB_WEB_IND)
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline label-lg">
                            @Html.CheckBoxFor(model => model.AIRNOW_IND, new { @class = "checkbox-inline", @data_toggle = "collapse", @data_target = "#airnow-detail" })
                            Enable Streaming to AirNow
                        </label>
                        <span class="label bg-dark m-l-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Allows streaming of hourly data to AirNow.">?</span>

                        <div id="airnow-detail" class="row collapse @(Model.AIRNOW_IND == true ? "in": "")" style="padding-left:25px; padding-top:10px;">

                            <div class="col-md-8 col-md-offset-4">
                                <label class="checkbox-inline label-lg">
                                    @if (string.IsNullOrEmpty(Model.AIRNOW_USR))
                                    {
                                        <input id="chkAirNowDefault" name="chkAirNowDefault" type="checkbox" checked class="checkbox-inline">
                                    }
                                    else
                                    {
                                        <input id="chkAirNowDefault" name="chkAirNowDefault" type="checkbox" class="checkbox-inline">
                                    }
                                    Use QREST Default AirNow Account (recommended)
                                </label>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>9-Digit AirNowTech Site ID</label>
                                    @Html.TextBoxFor(model => model.AIRNOW_SITE, new { @class = "form-control", @maxlength = "9" })
                                    @Html.ValidationMessageFor(model => model.AIRNOW_SITE)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>My AirNow FTP Username</label>
                                    @Html.TextBoxFor(model => model.AIRNOW_USR, new { @class = "form-control", @maxlength = "50" })
                                    @Html.ValidationMessageFor(model => model.AIRNOW_USR)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (string.IsNullOrEmpty(Model.AIRNOW_PWD))
                                    {
                                        <label>Enter My AirNow FTP Password</label>
                                        @Html.PasswordFor(model => model.AIRNOW_PWD, new { @class = "form-control", @maxlength = "50" })
                                    }
                                    else
                                    {
                                        <label><a id="lnkAirNowPwdUpdate" href="#" class="text-info">Click to change AirNow Pwd</a></label>
                                        <div class="input-group">
                                            @Html.PasswordFor(model => model.AIRNOW_PWD, new { @class = "form-control", @maxlength = "50", @style = "display:none" })
                                            <span class="input-group-btn">
                                                <button id="lnkAirNowTest" class="btn btn-primary"> Test</button>
                                            </span>
                                        </div>
                                    }
                                    @Html.ValidationMessageFor(model => model.AIRNOW_PWD)
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label>AirNowTech Tribal Code</label>
                                        @Html.TextBoxFor(model => model.AIRNOW_ORG, new { @class = "form-control", @maxlength = "3" })
                                        @Html.ValidationMessageFor(model => model.AIRNOW_ORG)
                                    </div>
                                </div>*@

                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="checkbox-inline label-lg">
                                @Html.CheckBoxFor(model => model.AQS_IND, new { @class = "checkbox-inline" })
                                Enable Submission to AQS
                            </label>
                        </div>*@
                    <div class="line line-dashed pull-in"></div>
                    <p>
                        @if (Model.CanEdit)
                        {
                            <button id="btnSave" type="submit" disabled class="btn btn-primary">Save</button>
                        }
                        <a class="btn btn-default" href="@Url.Action("SiteList")">Back to List</a>
                    </p>
                </div>
            </section>
        </div>
    }

    @if (Model.SITE_IDX != null)
    {
        <div class="col-md-6">
            <section class="panel panel-qrest">
                <header class="panel-heading font-bold">Site Monitors</header>
                <div class="panel-body">

                    @if (Model.monitors != null)
                    {

                        <div class="table-responsive">
                            <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                                <thead>
                                    <tr>
                                        @if (Model.CanEdit)
                                        {
                                            <th style="width: 120px;"></th>
                                        }
                                        <th>Par Code</th>
                                        <th>Parameter</th>
                                        <th>Method Code</th>
                                        <th>POC</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.monitors)
                                {
                                    <tr>
                                        @if (Model.CanEdit)
                                        {
                                            <td>
                                                <a href="@(Url.Action("MonitorEdit", "Site", new { id = item.T_QREST_MONITORS.MONITOR_IDX }))" class="btn btn-rounded btn-xs btn-primary" style="display: inline-block;"> <i class="fa fa-pencil"></i> Edit</a>
                                                <div class="delete-section" style="display:inline-block">
                                                    <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.T_QREST_MONITORS.MONITOR_IDX" data-delete-p="/Site/MonitorDelete">
                                                        <b>Confirm Delete</b>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PAR_CODE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PAR_NAME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.METHOD_CODE)
                                            @Html.DisplayFor(modelItem => item.COLLECTION_DESC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.T_QREST_MONITORS.POC)
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    @if (Model.CanEdit)
                    {
                        <a href="@(Url.Action("MonitorEdit", "Site", new { siteIDX = Model.SITE_IDX }))" class="btn btn-sm btn-primary btn-rounded"><i class="fa fa-plus"></i> Add</a>
                        <a href="@(Url.Action("MonitorImport", "Site", new { id = Model.SITE_IDX }))" class="btn btn-sm btn-warning btn-rounded pull-right" onclick="pleaseWait()">Import Monitors from AQS</a>
                    }
                </div>
            </section>

            <div class="row">
                <div class="col-md-12">
                    <section class="panel panel-qrest">
                        <header class="panel-heading font-bold">Alerting</header>
                        <div class="panel-body">
                            <div class="alert alert-info">
                                <i class="fa fa-info-sign"></i>
                                The following users will be notified when an exceptional polling event is detected at this site.
                            </div>

                            <div class="table-responsive">
                                <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 40px;"></th>
                                            <th>Person</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.notifiees)
                                    {
                                        <tr>
                                            <td>
                                                <div class="delete-section" style="display:inline-block">
                                                    <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.T_QREST_SITE_NOTIFY.SITE_NOTIFY_IDX" data-delete-p="/Site/SiteNotifyDelete">
                                                        <b>Confirm Delete</b>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            @if (Model.CanEdit)
                            {
                                <a id="add-it" href="#modal-form1" data-toggle="modal" class="btn btn-sm btn-primary btn-rounded modal-it"><i class="fa fa-plus"></i> Add User</a>
                            }
                        </div>
                    </section>
                </div>
            </div>


            <section class="panel panel-qrest">
                <header class="panel-heading font-bold">Site Documentation</header>
                <div class="panel-body">
                    @if (Model.SiteDocs != null)
                    {
                        <div class="table-responsive">
                            <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                                <thead>
                                    <tr>
                                        @if (Model.CanEdit)
                                        {
                                            <th style="width: 120px;"></th>
                                        }
                                        <th>Document</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model.SiteDocs)
                                {
                                    <tr>
                                        @if (Model.CanEdit)
                                        {
                                            <td>
                                                <div class="delete-section" style="display:inline-block;">
                                                    <a class="btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.ASSESS_DOC_IDX" data-delete-path="" data-delete-p="/Site/DataDocsDelete"><b>Confirm Delete</b></div>
                                                </div>
                                            </td>
                                        }
                                    <td>
                                        <a class="font-bold" href="@Url.Action("DataDocsDownload", "Data", new { id = item.ASSESS_DOC_IDX })"><i class="fa fa-2x @UtilsText.getFontAwesomeIconFromMIME(item.DOC_FILE_TYPE) text-dark"></i> <u>@item.DOC_NAME</u></a>
                                    </td>
                                        <td>@Html.DisplayFor(modelItem => item.DOC_COMMENT)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    @if (Model.CanEdit)
                    {
                    <a id="add-it" href="#modal-formPhoto" data-toggle="modal" class="add-it btn btn-primary btn-sm"><i class="fa fa-plus"></i> Upload</a>
                    }

                </div>
            </section>
        </div>
    }

</div>

<!-- START NOTIFY MODAL  -->
<div class="modal fade" id="modal-form1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="width:600px">

        @using (Html.BeginForm("SiteEditNotifyUser", "Site", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.SITE_IDX)
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title">Add Person to Notify List</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User</label>
                                @Html.DropDownListFor(model => model.edit_notify_user_idx, Model.ddl_User, "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnSaveNotify" type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END NOTIFY MODAL -->
<!-- START MAP MODAL  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="float: left" class="modal-title">Select Site on Map</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <p>Click on the map to locate the site.</p>
                        <form role="form">
                            <div class="panel-body" style="padding: 0px">
                                <div id="map_canvas" style="width: 100%; height: 400px;"></div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Latitude:
                                        <input id="txtLat1" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        Longitude:
                                        <input id="txtLong1" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp;
                                        <button id="picLoc" type="submit" class="btn btn-primary form-control" data-dismiss="modal">Continue</button>
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp;
                                        <button type="submit" class="btn btn-default form-control" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAP MODAL  -->
<!-- START PHOTO MODAL -->
<div class="modal fade" id="modal-formPhoto" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-title" style="float: left" class="modal-title">Add Document</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("SiteDocsAdd", "Site", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.editASSESS_DOC_IDX)
                @Html.HiddenFor(model => model.SITE_IDX)

                <div class="modal-body">

                    <div id="filer" class="form-group">
                        Upload File
                        <div class="input-group">
                            <span id="file-selected"></span>
                            @Html.TextBoxFor(m => m.fileUpload, new { type = "file" })
                            @Html.ValidationMessageFor(model => model.fileUpload)
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        @Html.TextAreaFor(model => model.fileDescription, new { @class = "form-control", @maxlength = "200", @rows = 4 })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    <button type="submit" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- END PHOTO MODAL -->
@Html.Partial("_PleaseWait", "Shared")

@section scripts {
    @Scripts.Render("~/bundles/confirm-delete")
    @Scripts.Render("~/bundles/areyousure")
    @Scripts.Render("~/bundles/cleave")

    <script type="text/javascript">
        // Enable dirtyforms
        $('#norepostform').dirtyForms();
        // Enable/disable the submit button when the state transitions between dirty and clean.
        $('form').on('dirty.dirtyforms clean.dirtyforms', function (ev) {
            if (ev.type === 'dirty') {
                $("#btnSave").prop("disabled", false);
                $("#lnkAirNowTest").hide();
            } else {
                $("#btnSave").prop("disabled", true);
                $("#lnkAirNowTest").show();
            }
        });

        $(document).ready(function () {

            //pass lat/long coordinates to modal
            $('#btnShow').click(function () {
                $("#txtLat1").val($("#latitude").val());
                $("#txtLong1").val($("#longitude").val());
                LoadMap();
            });

            //update the saved lat/long coordinates back to main form
            $('#picLoc').click(function () {
                $("#latitude").val($("#txtLat1").val());
                $("#longitude").val($("#txtLong1").val());
                $("#btnSave").prop('disabled', false);
            });

            //update county dropdown
            var localityUrl = '@Url.Action("FetchCounties")';
            var localities = $('#COUNTY_CD');
            $('#STATE_CD').change(function () {
                localities.empty();
                $.getJSON(localityUrl, { ID: $(this).val() }, function (data) {
                    if (!data) {
                        return;
                    }
                    localities.append($('<option></option>').val('').text('Please select'));
                    $.each(data, function (index, item) {
                        localities.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                });
            });

            //airnow default account toggle
            if ($('#chkAirNowDefault').is(':checked')) {
                $("#lnkAirNowTest").prop("disabled", true);
                $("#AIRNOW_USR").prop("disabled", true);
                $("#AIRNOW_PWD").prop("disabled", true);
            }
            else {
                $("#lnkAirNowTest").prop("disabled", false);
                $("#AIRNOW_USR").prop("disabled", false);
                $("#AIRNOW_PWD").prop("disabled", false);
            }

            $('#chkAirNowDefault').change(function () {
                if (this.checked) {
                    $("#AIRNOW_USR").val("");
                    $("#AIRNOW_PWD").val("");
                    $("#lnkAirNowTest").prop("disabled", true);
                    $("#AIRNOW_USR").prop("disabled", true);
                    $("#AIRNOW_PWD").prop("disabled", true);
                }
                else {
                    $("#lnkAirNowTest").prop("disabled", false);
                    $("#AIRNOW_USR").prop("disabled", false);
                    $("#AIRNOW_PWD").prop("disabled", false);
                }
            });


            //click to change pwd
            $(document).on("click", "#lnkAirNowPwdUpdate", function (event) {
                event.preventDefault();
                $("#AIRNOW_PWD").show();
                $("#lnkAirNowTest").hide();
            });

            //test AirNow
            $(document).on("click", "#lnkAirNowTest", function (event) {
                event.preventDefault();
                var url = '@Url.Action("TestAIRNOW")';
                var idx = '@Model.SITE_IDX';

                //call ajax
                $.getJSON(url, { ID: idx }, function (data) {
                    if (!data) {
                        return;
                    }
                    if (data === "Success") {
                        toastr.success(data);
                    }
                    else {
                        toastr.warning(data);
                    }
                });
            });


        });

    </script>

    <script src="https://js.arcgis.com/3.25/"></script>
    @if (Model != null)
    {
        <script type="text/javascript">
            function LoadMap() {
                var map;
                require(["esri/map",
                    "esri/geometry/Point",
                    "esri/symbols/SimpleMarkerSymbol",
                    "esri/graphic",
                    "esri/Color", "dojo/domReady!"
                ],
                    function (Map,
                        Point,
                        SimpleMarkerSymbol,
                        Graphic,
                        Color
                    ) {
                        map = new Map("map_canvas", {
                            basemap: "topo"
                        });
                        //define marker style
                        var s = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([255, 0, 0, 2]));
                        map.on("load", showMap);
                        map.on("click", addPoint);
                        function showMap() {
                            map.graphics.clear();
                            if ($("#longitude").val() != 0 && $("#latitude").val() != 0) {
                                var p = new Point($("#longitude").val(), $("#latitude").val());
                                map.graphics.add(new Graphic(p, s));
                                map.centerAndZoom(p, 9);
                            }
                            else {
                                var p = new Point(-105, 37);
                                map.centerAndZoom(p, 4);
                            }
                        }
                        //when map is clicked, add or move point on map and (re)populate pop modal textboxes
                        function addPoint(evt) {
                            map.graphics.clear();
                            map.graphics.add(new Graphic(evt.mapPoint, s));
                            $("#txtLat1").val(evt.mapPoint.getLatitude().toFixed(5));
                            $("#txtLong1").val(evt.mapPoint.getLongitude().toFixed(5));
                        }
                    });
            }
        </script>
    }
}