@using QREST.App_Logic.BusinessLogicLayer
@model QREST.Models.vmSiteSiteEdit
@{
    if (Model.SITE_IDX == null)
    {
        ViewBag.Title = "Add Site";
    }
    else
    {
        ViewBag.Title = "Edit Site";
    }
}
<link rel="stylesheet" href="https://js.arcgis.com/3.25/esri/css/esri.css">

<div class="row">

    @using (Html.BeginForm("SiteEdit", "Site", FormMethod.Post, new { @id = "norepostform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.SITE_IDX)

        <div class="col-md-6">
            <section class="panel panel-qrest">
                <header class="panel-heading font-bold">Site Details</header>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.SITE_ID, "Site ID", new { @class = "control-label" })
                                @*@Html.TextBoxFor(model => model.SITE_ID, Model.SITE_IDX != null ? new { @class = "form-control", @readonly = "readonly" } : (object)new { @class = "form-control", @maxlength = "50" })*@
                                @Html.TextBoxFor(model => model.SITE_ID, new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.SITE_ID)
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.SITE_NAME, "Site Name", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.SITE_NAME, new { @class = "form-control", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.SITE_NAME)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.ORG_ID, "Organization", new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ORG_ID, Model.ddl_Organization, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ORG_ID)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.AQS_SITE_ID, "AQS Site ID", new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.AQS_SITE_ID, new { @class = "form-control cleave-num-no-comma", @maxlength = "4" })
                                @Html.ValidationMessageFor(model => model.AQS_SITE_ID)
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Site Comments</label>
                                @Html.TextAreaFor(model => model.SITE_COMMENTS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SITE_COMMENTS)
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <h4 class="font-bold">LOCATION</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Latitude / Longitude</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.LATITUDE, new { @id = "latitude", @class = "form-control", @maxlength = "18" })
                                    <span class="input-group-addon">/</span>
                                    @Html.TextBoxFor(model => model.LONGITUDE, new { @id = "longitude", @class = "form-control", @maxlength = "18" })
                                    <span class="input-group-btn">
                                        <a href="#modal-form" data-toggle="modal" id="btnShow" class="btn btn-primary"><i class="fa fa-globe"></i> Select on Map</a>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.LATITUDE)
                                @Html.ValidationMessageFor(model => model.LONGITUDE)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Elevation (m)</label>
                                @Html.TextBoxFor(model => model.ELEVATION, new { @class = "form-control cleave-num", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.ELEVATION)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(model => model.ADDRESS, new { @class = "form-control", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.ADDRESS)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City</label>
                                @Html.TextBoxFor(model => model.CITY, new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.CITY)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>State</label>
                                @Html.DropDownListFor(model => model.STATE_CD, Model.ddl_State, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.STATE_CD)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>County</label>
                                @Html.DropDownListFor(model => model.COUNTY_CD, Model.ddl_County, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.COUNTY_CD)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ZIP</label>
                                @Html.TextBoxFor(model => model.ZIP_CODE, new { @class = "form-control zip-cleave", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.ZIP_CODE)
                            </div>
                        </div>

                    </div>
                    <p>
                        <button id="btnSave" type="submit" disabled class="btn btn-primary">Save</button>
                        <a class=" btn btn-default" href="@Url.Action("SiteList")">Back to List</a>
                    </p>
                </div>
            </section>
        </div>

        if (Model.SITE_IDX != null)
        {
            <div class="col-md-6">
                <section class="panel panel-qrest">
                    <header class="panel-heading font-bold">Site Monitors</header>
                    <div class="panel-body">

                        @if (Model.monitors != null)
                        {

                            <div class="table-responsive">
                                <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 120px;"></th>
                                            <th>Parameter</th>
                                            <th>Method Code</th>
                                            <th>POC</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.monitors)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@(Url.Action("MonitorEdit", "Site", new { id = item.T_QREST_MONITORS.MONITOR_IDX }))" class="btn btn-rounded btn-xs btn-primary" style="display: inline-block;"> <i class="fa fa-pencil"></i> Edit</a>
                                                <div class="delete-section" style="display:inline-block">
                                                    <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.T_QREST_MONITORS.MONITOR_IDX" data-delete-p="/Site/MonitorDelete">
                                                        <b>Confirm Delete</b>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PAR_CODE)
                                                @Html.DisplayFor(modelItem => item.PAR_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.METHOD_CODE)
                                                @Html.DisplayFor(modelItem => item.COLLECTION_DESC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.T_QREST_MONITORS.POC)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }

                        <a href="@(Url.Action("MonitorEdit", "Site", new { siteIDX = Model.SITE_IDX }))" class="btn btn-sm btn-primary btn-rounded"><i class="fa fa-plus"></i> Add</a>
                        <a href="@(Url.Action("MonitorImport", "Site", new { id = Model.SITE_IDX }))" class="btn btn-sm btn-warning btn-rounded pull-right">Import Monitors from AQS</a>
                    </div>
                </section>

                <div class="row">
                    <div class="col-md-6">
                        <section class="panel panel-qrest">
                            <header class="panel-heading font-bold">Data Synchronization</header>
                            <div class="panel-body">
                                <div class="row">
                                    <div id="telemetrySource" class="col-md-12">
                                        <div class="form-group ">
                                            @Html.CheckBoxFor(model => model.POLLING_ONLINE_IND, new { @class = "checkbox-inline checkbox-lg" })
                                            <label class="label-lg font-bold">Enable Automatic Data Retrieval</label>
                                            @Html.ValidationMessageFor(model => model.POLLING_ONLINE_IND)
                                            <div id="pollCollapse" class="col-md-9">
                                                <a href="@(Url.Action("SitePollConfig", "Site", new { id = Model.SITE_IDX }))" class="btn btn-sm btn-warning btn-rounded ">Configure Polling</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed line-lg pull-in"></div>
                                <div class="row">
                                    <div id="telemetrySource" class="col-md-12">
                                        <div class="form-group ">
                                            <input checked="checked" class="checkbox-inline checkbox-lg" type="checkbox" value="true">
                                            <label class="label-lg font-bold">Enable Submission to AirNow</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="line line-dashed line-lg pull-in"></div>
                                <div class="row">
                                    <div id="telemetrySource" class="col-md-12">
                                        <div class="form-group ">
                                            <input checked="checked" class="checkbox-inline checkbox-lg" type="checkbox" value="true">
                                            <label class="label-lg font-bold">Enable Submission to AQS</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="panel panel-qrest">
                            <header class="panel-heading font-bold">Alerting</header>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-info-sign"></i>
                                    The following users will be notified when an exceptional polling event is detected at this site.
                                </div>

                                <div class="table-responsive">
                                    <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="width: 40px;"></th>
                                                <th>Person</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.notifiees)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="delete-section" style="display:inline-block">
                                                        <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                                        <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.T_QREST_SITE_NOTIFY.SITE_NOTIFY_IDX" data-delete-p="/Site/SiteNotifyDelete">
                                                            <b>Confirm Delete</b>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <a id="add-it" href="#modal-form1" data-toggle="modal" class="btn btn-sm btn-primary btn-rounded modal-it"><i class="fa fa-plus"></i> Add User</a>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
        }
    }
</div>

<!-- START NOTIFY MODAL  -->
<div class="modal fade" id="modal-form1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="width:600px">

        @using (Html.BeginForm("SiteEditNotifyUser", "Site", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.SITE_IDX)
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title">Add Person to Notify List</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User</label>
                                @Html.DropDownListFor(model => model.edit_notify_user_idx, Model.ddl_User, "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END NOTIFY MODAL -->

<!-- START MAP MODAL  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="float: left" class="modal-title">Select Site on Map</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 ">
                        <p>Click on the map to locate the site.</p>
                        <form role="form">
                            <div class="panel-body" style="padding: 0px">
                                <div id="map_canvas" style="width: 100%; height: 400px;"></div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Latitude:
                                        <input id="txtLat1" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        Longitude:
                                        <input id="txtLong1" class="form-control" value="" />
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp;
                                        <button id="picLoc" type="submit" class="btn btn-primary form-control" data-dismiss="modal">Continue</button>
                                    </div>
                                    <div class="col-md-3">
                                        &nbsp;
                                        <button type="submit" class="btn btn-default form-control" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAP MODAL  -->

@section scripts {
    @Scripts.Render("~/bundles/confirm-delete")
    @Scripts.Render("~/bundles/areyousure")
    @Scripts.Render("~/bundles/cleave")

    <script type="text/javascript">
        // Enable dirtyforms
        $('#norepostform').dirtyForms();
        // Enable/disable the submit button when the state transitions between dirty and clean.
        $('form').on('dirty.dirtyforms clean.dirtyforms', function (ev) {
            if (ev.type === 'dirty') {
                $("#btnSave").prop("disabled", false);
            } else {
                $("#btnSave").prop("disabled", true);
            }
        });

        $(document).ready(function () {

            //pass lat/long coordinates to modal
            $('#btnShow').click(function () {
                $("#txtLat1").val($("#latitude").val());
                $("#txtLong1").val($("#longitude").val());
                LoadMap();
            });

            //update the saved lat/long coordinates back to main form
            $('#picLoc').click(function () {
                $("#latitude").val($("#txtLat1").val());
                $("#longitude").val($("#txtLong1").val());
                $('form').trigger('rescan.areYouSure');
            });

            //update county dropdown
            var localityUrl = '@Url.Action("FetchCounties")';
            var localities = $('#COUNTY_CD');
            $('#STATE_CD').change(function () {
                localities.empty();
                $.getJSON(localityUrl, { ID: $(this).val() }, function (data) {
                    if (!data) {
                        return;
                    }
                    localities.append($('<option></option>').val('').text('Please select'));
                    $.each(data, function (index, item) {
                        localities.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                });
            });



        });
    </script>

    <script src="https://js.arcgis.com/3.25/"></script>
    @if (Model != null)
    {
        <script type="text/javascript">
            function LoadMap() {
                var map;
                require(["esri/map",
                    "esri/geometry/Point",
                    "esri/symbols/SimpleMarkerSymbol",
                    "esri/graphic",
                    "esri/Color", "dojo/domReady!"
                ],
                    function (Map,
                        Point,
                        SimpleMarkerSymbol,
                        Graphic,
                        Color
                    ) {
                        map = new Map("map_canvas", {
                            basemap: "topo"
                        });
                        //define marker style
                        var s = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CIRCLE).setColor(new Color([255, 0, 0, 2]));
                        map.on("load", showMap);
                        map.on("click", addPoint);
                        function showMap() {
                            map.graphics.clear();
                            if ($("#longitude").val() != 0 && $("#latitude").val() != 0) {
                                var p = new Point($("#longitude").val(), $("#latitude").val());
                                map.graphics.add(new Graphic(p, s));
                                map.centerAndZoom(p, 9);
                            }
                            else {
                                var p = new Point(-105, 37);
                                map.centerAndZoom(p, 4);
                            }
                        }
                        //when map is clicked, add or move point on map and (re)populate pop modal textboxes
                        function addPoint(evt) {
                            map.graphics.clear();
                            map.graphics.add(new Graphic(evt.mapPoint, s));
                            $("#txtLat1").val(evt.mapPoint.getLatitude().toFixed(5));
                            $("#txtLong1").val(evt.mapPoint.getLongitude().toFixed(5));
                        }
                    });
            }
        </script>
    }
}