@model QREST.Models.vmAccountMyProfile

@{
    ViewBag.Title = "My Profile";
}

@using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { @id = "norepostform", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        <div class="row">
            <div class="col-md-6">
                <section class="panel panel-qrest">
                    <header class="panel-heading font-bold">My Profile</header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(model => model.FNAME, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FNAME)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(model => model.LNAME, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LNAME)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBoxFor(model => model.EMAIL, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.EMAIL)
                                </div>
                            </div>
                        </div>
                        <div class="bg-info panel-heading font-bold m-b-sm m-t-md">Notification Settings</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ">
                                    @Html.CheckBoxFor(model => model.NOTIFY_APP_IND, new { @class = "checkbox-inline checkbox-lg" })
                                    <label class="label-lg font-bold">In-App Notification</label>
                                    @Html.ValidationMessageFor(model => model.NOTIFY_APP_IND)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group ">
                                    @Html.CheckBoxFor(model => model.NOTIFY_EMAIL_IND, new { @class = "checkbox-inline checkbox-lg" })
                                    <label class="label-lg font-bold">Email Notification</label>
                                    @Html.ValidationMessageFor(model => model.NOTIFY_EMAIL_IND)
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group ">
                                    @Html.CheckBoxFor(model => model.NOTIFY_SMS_IND, new { @class = "checkbox-inline checkbox-lg", @data_toggle = "collapse", @data_target = "#phoneCollapse" })
                                    <label class="label-lg font-bold">Text Message (SMS) Notification</label>
                                    @Html.ValidationMessageFor(model => model.NOTIFY_SMS_IND)
                                </div>
                            </div>
                            <div id="phoneCollapse" class="col-md-9 collapse @(Model.NOTIFY_SMS_IND==true ? "in" : "")">
                                <div class="form-group">
                                    <label>Cell Phone</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control phone-10" })
                                        <span class="input-group-btn"> <a class="btn btn-default btn-dark" href="@Url.Action("TestSMS","Account")">Send Test Msg</a> </span>

                                    </div>
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="panel-footer">
                        <button id="btnSave" type="submit" disabled class="btn btn-primary">Save</button>
                        <a class=" btn btn-default" href="@Url.Action("Index","Dashboard")">Back to Dashboard</a>
                    </footer>
                </section>

            </div>
            <div class="col-md-6">
                <section class="panel panel-qrest">
                    <header class="panel-heading font-bold">Access Rights</header>
                    <div class="panel-body">
                        <div class="row">
                            @if (Model.ROLES != null)
                            {
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Role(s)</label>
                                        @foreach (var item in @Model.ROLES)
                                        {
                                            <div>@item</div>
                                        }
                                    </div>
                                </div>
                            }
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    @if (Model.user_orgs != null)
                                    {
                                        <h4>Organization Access</h4>
                                        <table class="table table-striped table-bordered" data-ride="datatables">
                                            <thead>
                                                <tr>
                                                    <th>Organization</th>
                                                    <th>Access Level</th>
                                                    <th>Status</th>
                                                    <th>API Key</th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.user_orgs)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ORG_NAME)
                                                    </td>
                                                    <td>
                                                        @if (item.ACCESS_LEVEL == "A")
                                                        {
                                                            <span class="badge bg-success"> Admin</span>
                                                        }
                                                        else if (item.ACCESS_LEVEL == "U")
                                                        {
                                                            <span class="badge bg-info"> Operator</span>
                                                        }
                                                        else if (item.ACCESS_LEVEL == "R")
                                                        {
                                                            <span class="badge bg-danger"> Read Only</span>
                                                        }
                                                        else if (item.ACCESS_LEVEL == "Q")
                                                        {
                                                            <span class="badge bg-warning"> QA Reviewer</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.STATUS_IND == "A")
                                                        {
                                                            <span class="badge bg-success"> Active</span>
                                                        }
                                                        else if (item.STATUS_IND == "P")
                                                        {
                                                            <span class="badge bg-warning"> Pending</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge bg-danger"> Rejected</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.API_KEY != null && item.API_KEY.Length > 1)
                                                        {
                                                            @item.API_KEY
                                                        }
                                                        else
                                                        {
                                                        <a class=" btn btn-xs btn-info" href="@Url.Action("GetAPIKey","Account", new { org = item.ORG_ID })">Get Key</a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>


    }
}

@section scripts {
    @Scripts.Render("~/bundles/cleave")
    @Scripts.Render("~/bundles/areyousure")

    <script type="text/javascript">
        // Enable dirtyforms
        $('#norepostform').dirtyForms();
        // Enable/disable the submit button when the state transitions between dirty and clean.
        $('form').on('dirty.dirtyforms clean.dirtyforms', function (ev) {
            if (ev.type === 'dirty') {
                $("#btnSave").prop("disabled", false);
            } else {
                $("#btnSave").prop("disabled", true);
            }
        });

    </script>


}