<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="qrest, aqs, air quality, tribes, tribal environmental" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>QREST - @ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/favicon-16x16.png")">
    @Styles.Render("~/Content/css/files")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header" class="navbar navbar-fixed-top bg-white box-shadow b-b b-light" data-spy="affix" data-offset-top="1" role="heading" aria-level="1">
        <a id="skip-nav" class="skip-nav screen-reader-text" href="#maincontent" role="navigation">Skip to main content</a>
        <div class="container">
            <div class="navbar-header">
                <a href='@Url.Action("Index", "Home")' class="navbar-brand"><img src="~/Content/Images/itep_logo_120.png" class="m-r-sm" alt="ITEP Logo">QREST @Html.Action("_PartialHeadEnvironment", "Shared")</a>
                <div class="visible-lg-inline-block navbar-brand" style="color: #9e9e9e; font-size: 15px">Quality Review and Exchange System for Tribes</div>
                <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Air Quality Map", "Index", "Home")
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Reports</span><span class="caret" style="margin-left:5px;"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ReportDaily", "Home")">Daily</a></li>
                            <li><a href="@Url.Action("ReportMonthly", "Home")">Monthly</a></li>
                            <li><a href="@Url.Action("ReportAnnual", "Home")">Annual</a></li>
                        </ul>
                    </li>
                    @if (!Request.IsAuthenticated)
                    {

                        <li>
                            @Html.ActionLink("Sign In", "Index", "Dashboard")
                        </li>
                        <li>
                            <div id="maincontent" role="main" class="m-t-sm">
                                @Html.ActionLink("Join QREST", "SignUp", "Home", null, new { @class = "btn btn-sm btn-rounded btn-dark m-l" })
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div id="maincontent" role="main" class="m-t-sm">
                                @Html.ActionLink("Secure Dashboard", "Index", "Dashboard", null, new { @class = "btn btn-sm btn-rounded btn-dark m-l" })
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/app")

    @Html.Partial("_Alerts")

    @RenderSection("scripts", required: false)
</body>
</html>