@using QREST.App_Logic.BusinessLogicLayer

<aside class="bg-dark lter aside-md hidden-print hidden-xs" id="nav">
    <section class="vbox">
        <header class="header bg-vcco text-center clearfix">
            <div class="btn-group hidden-nav-xs">
                @*<a href="#" class="btn btn-sm btn-dark disabled" title="New claim">Claim</a>
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="enter claim" maxlength="6" />
                    <span class="input-group-btn">
                        <button class="btn btn-vcco input-sm" type="button">Go</button>
                    </span>
                </div>*@
            </div>
        </header>
        <section class="w-f scrollable" style="top:33px;">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    <li class="leftmenuhead">
                        <a href="index.html" class="">
                            <i class="fa fa-map-marker icon">
                                <b class="bg-danger"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Agency</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Site", "OrgList,OrgEdit")">
                                <a href="@Url.Action("OrgList", "Site")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Agencies</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Site", "SiteList,SiteEdit,SiteImport")">
                                <a href="@Url.Action("SiteList", "Site")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Sites</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Site", "MonitorList,MonitorEdit")">
                                <a href="@Url.Action("MonitorList", "Site")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Monitors</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenuhead">
                        <a href="#layout">
                            <i class="fa fa-flask icon">
                                <b class="bg-warning"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Air Data</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Data", "QCList,QCEntry")">
                                <a href="@Url.Action("QCList", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">QC Entry</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Data", "Raw")">
                                <a href="@Url.Action("Raw", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Raw Data</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenuhead">
                        <a href="#uikit">
                            <i class="fa fa-tachometer icon">
                                <b class="bg-success"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Reports</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Reports", "Summary")">
                                <a href="@Url.Action("Summary", "Reports")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Raw Data</span>
                                </a>
                            </li>
                            <li>
                                <a href="#table">
                                    <i class="fa fa-angle-down text"></i>
                                    <i class="fa fa-angle-up text-active"></i>
                                    <span>Export</span>
                                </a>
                                <ul class="nav bg">
                                    <li class="@Html.ActivePage("Reports", "ExportSites")">
                                        <a href="@Url.Action("ExportSites", "Reports")">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="title">Sites</span>
                                        </a>
                                    </li>
                                    <li class="@Html.ActivePage("Reports", "ExportResults")">
                                        <a href="@Url.Action("ExportResults", "Reports")">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="title">Results</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="chart.html">
                                    <i class="fa fa-angle-right"></i>
                                    <span>Chart</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (User.IsInRole("ADMIN"))
                    {
                    <li class="leftmenuhead">
                        <a href="#pages">
                            <i class="fa fa-gears icon">
                                <b class="bg-primary"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Admin</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Admin", "OrgList,OrgEdit")">
                                <a href="@Url.Action("OrgList", "Admin")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Organizations</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Admin", "UserList,UserEdit")">
                                <a href="@Url.Action("UserList", "Admin")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Users</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Admin", "AppSettings")">
                                <a href="@Url.Action("AppSettings", "Admin")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Global Config</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Admin", "EmailConfig")">
                                <a href="@Url.Action("EmailConfig", "Admin")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Email Config</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Admin", "LogError,LogActivity,LogEmail")">
                                <a href="@Url.Action("LogError", "Admin")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Logging</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Admin", "ImportData")">
                                <a href="@Url.Action("ImportData", "Admin")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Import Ref Data</span>
                                </a>
                            </li>


                        </ul>
                    </li>
                    }
                </ul>
            </nav>
            <!-- / nav -->
        </section>

        <footer class="footer lt hidden-xs b-t b-dark">
            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
            </a>
        </footer>
    </section>
</aside>
