@using QREST.App_Logic.BusinessLogicLayer
@{
    var env = System.Web.Configuration.WebConfigurationManager.AppSettings["q-env"];
}
<aside class="bg-dark lter aside-md hidden-print hidden-xs" id="nav">
    <section class="vbox">
        <header class="header bg-vcco text-center clearfix">
            <div class="btn-group hidden-nav-xs">

            </div>
        </header>
        <section class="w-f scrollable" style="top:33px;">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    <li class="leftmenuhead">
                        <a href="#" class="">
                            <i class="fa fa-map-marker icon">
                                <b class="bg-danger"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Agency</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Site", "OrgList,OrgEdit")">
                                <a href="@Url.Action("OrgList", "Site")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Organizations</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Site", "SiteList,SiteEdit,SiteImport,SitePollConfig")">
                                <a href="@Url.Action("SiteList", "Site")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Sites</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Site", "MonitorList,MonitorEdit,MonitorImport")">
                                <a href="@Url.Action("MonitorList", "Site")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Monitors</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenuhead">
                        <a href="#" class="">
                            <i class="fa fa-cloud icon">
                                <b class="bg-warning"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Air Data</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Data", "ManualImport,ImportConfig,ImportList,ImportStatus")">
                                <a href="@Url.Action("ManualImport", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Manual Import</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Data", "Raw")">
                                <a href="@Url.Action("Raw", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Raw Data</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Data", "DataReviewSummary,DataReview,DataReview2")">
                                <a href="@Url.Action("DataReviewSummary", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Data Review</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Data", "QCList,QCEntry")">
                                <a href="@Url.Action("QCList", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Quality Control</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Data", "AQS,AQSList,AQSGen,AQSGenQA,AQSAcct")">
                                <a href="@Url.Action("AQSList", "Data")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">AQS Submission</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="leftmenuhead">
                        <a href="#">
                            <i class="fa fa-tachometer icon">
                                <b class="bg-success"></b>
                            </i>
                            <span class="pull-right">
                                <i class="fa fa-angle-down text"></i>
                                <i class="fa fa-angle-up text-active"></i>
                            </span>
                            <span>Reports</span>
                        </a>
                        <ul class="nav lt">
                            <li class="@Html.ActivePage("Reports", "Export")">
                                <a href="@Url.Action("Export", "Reports")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Data Export</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Reports", "Daily")">
                                <a href="@Url.Action("Daily", "Reports")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Daily Averages</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Reports", "MonthlyStats")">
                                <a href="@Url.Action("MonthlyStats", "Reports")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Monthly Stats</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Reports", "RefCollFreq,RefDuration,RefPar,RefParMethod,RefParUnit,RefUnit,ImportData")">
                                <a href="@Url.Action("RefParMethod", "Reports")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Reference Data</span>
                                </a>
                            </li>
                            <li class="@Html.ActivePage("Reports", "LogActivity")">
                                <a href="@Url.Action("LogActivity", "Reports")">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="title">Activity Log</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    @if (User.IsInRole("GLOBAL ADMIN"))
                    {
                        <li class="leftmenuhead">
                            <a href="#pages">
                                <i class="fa fa-gears icon">
                                    <b class="bg-primary"></b>
                                </i>
                                <span class="pull-right">
                                    <i class="fa fa-angle-down text"></i>
                                    <i class="fa fa-angle-up text-active"></i>
                                </span>
                                <span>Admin</span>
                            </a>
                            <ul class="nav lt">
                                <li class="@Html.ActivePage("Admin", "OrgList,OrgEdit")">
                                    <a href="@Url.Action("OrgList", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Organizations</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Admin", "UserList,UserEdit")">
                                    <a href="@Url.Action("UserList", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Users</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Admin", "AppSettings")">
                                    <a href="@Url.Action("AppSettings", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Global Config</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Admin", "TaskConfig")">
                                    <a href="@Url.Action("TaskConfig", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Task Config</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Admin", "EmailConfig")">
                                    <a href="@Url.Action("EmailConfig", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Email Config</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Admin", "HelpConfig")">
                                    <a href="@Url.Action("HelpConfig", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Help Config</span>
                                    </a>
                                </li>
                                @if (env == "TEST")
                                {
                                <li class="@Html.ActivePage("Admin", "TrainingConfig,TrainingCourse,TrainingLesson,TrainingLessonStep,TrainingProgress")">
                                    <a href="@Url.Action("TrainingConfig", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Training Config</span>
                                    </a>
                                </li>
                                }
                                <li class="@Html.ActivePage("Admin", "ImportData")">
                                    <a href="@Url.Action("ImportData", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Import Ref Data</span>
                                    </a>
                                </li>
                                <li class="@Html.ActivePage("Admin", "LogError,LogActivity,LogEmail")">
                                    <a href="@Url.Action("LogError", "Admin")">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="title">Logging</span>
                                    </a>
                                </li>

                                <li class="@Html.ActivePage("Admin", "Connectivity")">
                                    <a href="#table"> <i class="fa fa-angle-down text"></i> <i class="fa fa-angle-up text-active"></i> <span>Reports</span> </a>
                                    <ul class="nav bg">
                                        <li class="@Html.ActivePage("Admin", "Connectivity")">
                                            <a href="@Url.Action("Connectivity", "Admin")">
                                                <i class="fa fa-angle-right"></i>
                                                <span class="title">Connectivity</span>
                                            </a>
                                        </li>
                                        <li class="@Html.ActivePage("Reports", "UsageStats")">
                                            <a href="@Url.Action("UsageStats", "Reports")">
                                                <i class="fa fa-angle-right"></i>
                                                <span class="title">Usage Stats</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    }
                </ul>
            </nav>
            <!-- / nav -->
        </section>

        <footer class="footer lt b-t b-dark">
            <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon hidden-xs">
                <i class="fa fa-angle-left text"></i>
                <i class="fa fa-angle-right text-active"></i>
            </a>
            @if (env == "TEST")
            {
            <div class="hidden-nav-xs">
                <a href="@Url.Action("Index", "Training")" id="leftTrain" class="btn btn-sm btn-rounded btn-danger m-t-sm font-bold" ><i class="fa fa-trophy"></i> Training</a>
            </div>
            }
            <div class="btn-group hidden-nav-xs">
                <a href="@Url.Action("Help", "Home")/#@ViewBag.HelpLink" id="leftHelp" class="btn btn-rounded btn-sm btn-info" target="_blank"><i class="fa fa-question"></i></a>
                <a href="@Url.Action("Index", "Home")" id="leftMap" class="btn btn-rounded btn-sm btn-icon btn-warning"><i class="fa fa-globe" style="margin-left:8px;"></i></a>
            </div>
        </footer>
    </section>
</aside>
