@model QREST.Models.vmHomeHelp
@{
    Layout = "~/Views/Shared/_LayoutHelp.cshtml";
    ViewBag.Title = "Online Help";
}

<div class="hbox stretch">
    <aside class="bg-light aside b-r animated fadeInLeftBig">
        <section class="vbox">
            <section class="scrollable">
                <nav class="nav-primary hidden-xs nav-docs">
                    <ul class="nav">
                        @foreach (var item in Model.HelpTopicsLeft)
                        {
                            <li class="dropdown-header b-b b-light" style="background-color: #4cc6cf; font-size: 13pt; font-weight: bold; color: #eee; padding-left: 10px;">
                                <em>@item.HELP_CAT</em>
                            </li>
                            foreach (var subItem in item.HELP_TITLELEft)
                            {
                                <li>
                                    @if (item.HELP_CAT == Model.selCat)
                                    {
                                        <a href="#@subItem.Replace(" ", "-")" style="font-size:12px">@subItem</a>
                                    }
                                    else
                                    {
                                        <a href="?s=@subItem.Replace(" ", "-")" style="font-size:12px">@subItem</a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </section>
        </section>
    </aside>

    <section id="content">
        <section class="vbox">
            <section class="scrollable bg-light lter" data-spy="scroll" data-target=".nav-primary">
                <section id="docs">
                    <div class="clearfix padder">

                        @foreach (var item in Model.HelpTopics)
                        {
                            <h2 style="background-color: #25313e; color: #adbece; padding: 5px; ">
                                @item.HELP_CAT
                            </h2>
                            foreach (var subItem in item.T_QREST_HELP_DOCS)
                            {
                                <h3 id="@subItem.HELP_TITLE.Replace(" ", "-")" class="text-info" style="background-color: #e5e5e5; padding: 5px;">
                                    @subItem.HELP_TITLE
                                </h3>
                                @Html.Raw(HttpUtility.HtmlDecode(subItem.HELP_HTML))
                            }
                        }
                        <br /><br />
                        <div class="line"></div><span class="font-bold">QREST Version: </span>
                        @ViewContext.Controller.GetType().Assembly.GetName().Version |
                        @File.GetLastWriteTime(ViewContext.Controller.GetType().Assembly.Location)
                    </div>
                </section>
            </section>
        </section>
    </section>
</div>
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function() {
        var section = '@Model.selSection';
        if (section) {
            window.location.hash = section;
        }
    });
    </script>
}