@model QREST.Models.vmHomeHelp
@{
    ViewBag.Title = "Online Help";
    ViewBag.HideTitle = true;
    ViewBag.HideLeft = true;
    ViewBag.HideCrumbs = true;
}

<div class="hbox stretch">
    <aside class="bg-light aside b-r animated fadeInLeftBig">
        <section class="vbox">
            <header class="header b-b navbar">
                <a class="btn btn-link pull-right visible-xs" data-toggle="class:show" data-target=".nav-primary"> <i class="fa fa-bars"></i> </a>
                <a href="#" class="navbar-brand">QREST Help</a>
            </header>
            <section class="scrollable">
                <nav class="nav-primary hidden-xs nav-docs">
                    <ul class="nav">
                        @foreach (var item in Model.HelpTopics)
                        {
                            <li class="dropdown-header b-b b-light" style="background-color: #4cc6cf; font-size: 13pt; font-weight: bold; color: #eee; padding-left: 10px;">
                                <em>@item.HELP_CAT</em>
                            </li>
                            foreach (var subItem in item.T_QREST_HELP_DOCS)
                            {
                            <li>
                                <a href="#@subItem.HELP_TITLE.Replace(" ", "-")" style="font-size:12px">@subItem.HELP_TITLE</a>
                            </li>
                            }
                        }
                    </ul>
                </nav>
            </section>
        </section>
    </aside>
       
    <section id="content">
        <section class="vbox">
            <section class="scrollable bg-light lter" data-spy="scroll" data-target=".nav-primary">
                <section id="docs">
                    <div class="clearfix padder">

                        @foreach (var item in Model.HelpTopics)
                        {
                            foreach (var subItem in item.T_QREST_HELP_DOCS)
                            {
                            <h3 id="@subItem.HELP_TITLE.Replace(" ", "-")" class="text-info">
                                @subItem.HELP_TITLE
                            </h3>
                            <div class="line"></div>
                            @Html.Raw(HttpUtility.HtmlDecode(subItem.HELP_HTML))
                            }
                        }
                        <br /><br />
                        <div class="line"></div><span class="font-bold">QREST Version: </span>
                        @ViewContext.Controller.GetType().Assembly.GetName().Version |
                        @File.GetLastWriteTime(ViewContext.Controller.GetType().Assembly.Location)
                    </div>
                </section>
            </section>
        </section>
    </section>
</div>
