@model QREST.Models.vmHomeIndex
@{
    Layout = "~/Views/Shared/_LayoutPub.cshtml";
    ViewBag.Title = "Map";
}

<div style="height:1px;"></div>
<div id="map_canvas" style="width: 100%; height: 94vh; min-height:400px; padding: 0; margin: 0;"></div>

@section Scripts {
    <link rel="stylesheet" href="https://js.arcgis.com/4.13/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.13/"></script>
    <script>
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/Graphic"            
        ], function (Map, MapView, Graphic) {

                var map = new Map({
                    basemap: "topo-vector"                    
                });

                var view = new MapView({
                    container: "map_canvas",
                    map: map,
                    center: [-102, 37],
                    zoom: 5,
                });

                function AddPoint(lat, long, sitename, org, aqs, monthlyuri, annualuri, dailyuri) {

                    // Create popup template
                    var popupTemplate = {
                        title: "<b>{Name}</b>",
                        content: "<b>Maintained by:</b> {Org}<br/><b>AQS Site ID:</b> {Aqs}<br/>{Location}<br/><a class='badge bg-warning' href='" + dailyuri + "'>Today's Data</a><a class='badge bg-default m-l-md' href='" + monthlyuri + "'>Monthly Summary</a><a class='badge bg-info m-l-md' href='" + annualuri + "'>Annual Summary</a>"
                    };

                    var pointGraphic = new Graphic({
                        geometry: {
                            type: "point",
                            longitude: long,
                            latitude: lat
                        },
                        symbol: {
                            type: "simple-marker",
                            color: [226, 119, 40],
                            outline: {
                            color: [0, 0, 0],
                            width: 1
                            }
                        },
                        attributes: {
                            Name: sitename,
                            Org: org,
                            Aqs: aqs,
                            Location: lat + " / " + long
                        },
                        popupTemplate: popupTemplate
                    });


                    view.graphics.add(pointGraphic);
                };


                // the hitTest() checks to see if any graphics in the view intersect the given screen x, y coordinates
                view.on("pointer-move", function (evt) {
                    var screenPoint = {
                        x: evt.x,
                        y: evt.y
                    };

                    view.hitTest(screenPoint)
                        .then(function (response) {
                            if (response.results.length > 0) {
                                if (response.results[0].graphic.layer.title != 'World Topo') 
                                    document.getElementById("map_canvas").style.cursor = "pointer";
                                else
                                    document.getElementById("map_canvas").style.cursor = "default";
                            } 
                        });
                });


                @foreach (var item in Model.T_QREST_SITES)
                {
                    if (item.T_QREST_SITES.LATITUDE != null && item.T_QREST_SITES.LONGITUDE != null && item.T_QREST_SITES.SITE_NAME != null)
                    {
                        <text>
                        AddPoint(@item.T_QREST_SITES.LATITUDE, @item.T_QREST_SITES.LONGITUDE, '@item.T_QREST_SITES.SITE_NAME', '@item.ORG_NAME', '@item.T_QREST_SITES.STATE_CD-@item.T_QREST_SITES.COUNTY_CD-@item.T_QREST_SITES.AQS_SITE_ID', '@Url.Action("ReportMonthly", "Home", new { id= item.T_QREST_SITES.SITE_IDX })', '@Url.Action("ReportAnnual", "Home", new { id= item.T_QREST_SITES.SITE_IDX })', '@Url.Action("ReportDaily", "Home", new { id= item.T_QREST_SITES.SITE_IDX })');
                        </text>
                    }
                }
        });
    </script>
}


