@model QREST.Models.vmHomeSendData
@{
    Layout = "~/Views/Shared/_LayoutPub.cshtml";
    ViewBag.Title = "Submit Data to QREST";
    ViewBag.SubTitle = "Submits data to QRESTs API";
}
<p></p>
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">

            <div class="row">
                <div class="col-md-12">

                    <section class="panel panel-qrest">
                        <div class="panel-heading font-bold">
                            Paste Data Below to Submit to QREST
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>API Key</label>
                                        @Html.TextBoxFor(model => model.API_KEY, new { @class = "form-control", @maxlength = "32" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Site ID</label>
                                        @Html.TextBoxFor(model => model.SiteID, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Import Template Name</label>
                                        @Html.TextBoxFor(model => model.ImportTemplate, new { @class = "form-control", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="btn ">
                                        @Html.RadioButtonFor(m => m.APIName, "GetDataFormat", new { @class = "apiname form-control" }) Retrieve Expected Data Format
                                    </label>
                                    <label class="btn ">
                                        @Html.RadioButtonFor(m => m.APIName, "SendFiveMin", new { @checked = "checked", @class = "apiname form-control" }) Send Five Minute Data
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.DataBlock, new { @class = "form-control ", @placeholder = "(Paste data here)", @rows = "6" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit Data</button>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </section>

                    <section class="panel panel-qrest">
                        <div class="panel-heading font-bold">
                            Web Service Call and Response Json
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Request</label>
                                        <textarea id="txtRequest" class="form-control" cols="20" rows="8" readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Response</label>
                                        <textarea id="txtResponse" class="form-control" cols="20" rows="8" readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </section>
    </section>
</section>


@*@Html.Partial("_PleaseWait", "Shared")*@

@section Scripts{
    <script>
        $(document).ready(function () {

            $('input[type=radio][name=APIName]').change(function () {
                if (this.value == 'GetDataFormat') {
                    $("#DataBlock").hide();
                }
                else if (this.value == 'SendFiveMin') {
                    $("#DataBlock").show();
                }
            });

            $("#btnSubmit").click(function () {

                var lines = [];
                $.each($('#DataBlock').val().split(/\n/), function (i, line) {
                    if (line) {
                        lines.push(line);
                    } else {
                        lines.push("");
                    }
                });

                var xxx = JSON.stringify(lines);
                console.log(xxx);

                //var dataRows = '"12/12/2021,11:00,3.33", "12/12/2021,12:00,3.44"';
                //console.log(dataRows);
                var sendJson = '{ APIKey : "' + $("#API_KEY").val() + '", SiteID : "' + $("#SiteID").val() + '", ImportTemplateName : "' + $("#ImportTemplate").val() + '", rawRow : ' + xxx + ' }';

                //display json of request 
                $("#txtRequest").val(sendJson);

                //push to QREST
                $.ajax({
                    type: "POST",
                    url: "/api/QRESTAPI/SendFiveMin",
                    data: sendJson,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //alert("Success: " + response.SuccessInd);
                        //console.log(response);
                        var textedJson = JSON.stringify(response, undefined, 2);
                        //console.log(textedJson);

                        //var pretty = JSON.stringify(response, undefined, 4);

                        $("#txtResponse").val(textedJson);
                    },
                    failure: function (response) {
                        alert(response.ErrorMessage);
                    },
                    error: function (response) {
                        alert(response.ErrorMessage);
                    }
                });
            });


        });
    </script>
}
