@model QREST.Models.vmHomeSendData
@{
    Layout = "~/Views/Shared/_LayoutPub.cshtml";
    ViewBag.Title = "Submit Data to QREST";
    ViewBag.SubTitle = "Submits data to QREST API";
}
<p></p>
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">

            <div class="row">
                <div class="col-md-12">

                    <section class="panel panel-qrest">
                        <div class="panel-heading font-bold">
                            Paste Data Below to Submit to QREST
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>API Key</label>
                                        @Html.TextBoxFor(model => model.API_KEY, new { @class = "form-control", @maxlength = "32" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Site ID</label>
                                        @Html.TextBoxFor(model => model.SiteID, new { @class = "form-control", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Import Template Name</label>
                                        @Html.TextBoxFor(model => model.ImportTemplate, new { @class = "form-control", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="btn ">
                                        @Html.RadioButtonFor(m => m.APIName, "GetDataFormat", new { @class = "apiname form-control" }) Retrieve Expected Data Format
                                    </label>
                                    <label class="btn ">
                                        @Html.RadioButtonFor(m => m.APIName, "SendFiveMin", new { @checked = "checked", @class = "apiname form-control" }) Send Five Minute Data
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.DataBlock, new { @class = "form-control ", @placeholder = "(Paste data here)", @rows = "6" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit Data</button>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </section>

                    <section class="panel panel-qrest">
                        <div class="panel-heading font-bold">
                            Web Service Call and Response Json
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>API</label>
                                                <input id="txtAPI" class="form-control" readonly="readonly" value="/api/QRESTAPI/SendFiveMin">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>API Type</label>
                                                <input id="txtAPIType" class="form-control" readonly="readonly" value="POST">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Request</label>
                                                <textarea id="txtRequest" class="form-control" cols="20" rows="6" readonly="readonly"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Response</label>
                                        <textarea id="txtResponse" class="form-control" cols="20" rows="9" readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </section>
    </section>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('input[type=radio][name=APIName]').change(function () {
                if (this.value == 'GetDataFormat') {
                    $("#DataBlock").hide();
                    $("#txtAPI").val("/api/QRESTAPI/GetDataFormat");
                }
                else if (this.value == 'SendFiveMin') {
                    $("#DataBlock").show();
                    $("#txtAPI").val("/api/QRESTAPI/SendFiveMin");
                }
            });

            $("#btnSubmit").click(function () {
                var api = $('input[name="APIName"]:checked').val();
                if (api == "SendFiveMin")
                    SendFiveMin();
                else if (api == "GetDataFormat")
                    GetDataFormat();
            });


            function SendFiveMin() {
                var lines = [];
                $.each($('#DataBlock').val().split(/\n/), function (i, line) {
                    if (line) {
                        lines.push(line);
                    } else {
                        lines.push("");
                    }
                });

                var xxx = JSON.stringify(lines);
                var sendJson = '{ APIKey : "' + $("#API_KEY").val() + '", SiteID : "' + $("#SiteID").val() + '", ImportTemplateName : "' + $("#ImportTemplate").val() + '", rawRow : ' + xxx + ' }';

                //display json of request 
                $("#txtRequest").val(sendJson);

                //push to QREST
                $.ajax({
                    type: "POST",
                    url: "/api/QRESTAPI/SendFiveMin",
                    data: sendJson,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var textedJson = JSON.stringify(response, undefined, 2);
                        $("#txtResponse").val(textedJson);
                    },
                    failure: function (response) {
                        alert(response.ErrorMessage);
                    },
                    error: function (response) {
                        alert(response.ErrorMessage);
                    }
                });
            }

            function GetDataFormat() {
                var sendJson = '{ APIKey : "' + $("#API_KEY").val() + '", SiteID : "' + $("#SiteID").val() + '", ImportTemplateName : "' + $("#ImportTemplate").val() + '" }';

                //display json of request 
                $("#txtRequest").val(sendJson);

                //request to QREST
                $.ajax({
                    type: "GET",
                    url: "/api/QRESTAPI/GetDataFormat",
                    data: {
                        APIKey: $("#API_KEY").val(),
                        SiteID: $("#SiteID").val(),
                        ImportTemplateName: $("#ImportTemplate").val()
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var textedJson = JSON.stringify(response, undefined, 2);
                        $("#txtResponse").val(textedJson);
                    },
                    failure: function (response) {
                        alert(response.ErrorMessage);
                    },
                    error: function (response) {
                        alert(response.ErrorMessage);
                    }
                });
            }

        });
    </script>
}
