@model QREST.Models.vmHomeReportDaily
@{
    Layout = "~/Views/Shared/_LayoutPub.cshtml";
    ViewBag.Title = "Daily Summary";
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">
        Daily Summary
    </header>
    <div class="panel-body">
        @using (Html.BeginForm("ReportDaily", "Home", FormMethod.Post, new { @id = "norepostform", @class = "form-inline m-b-sm" }))
        {
            @Html.AntiForgeryToken()
            @Html.DropDownListFor(model => model.selSite, Model.ddl_Sites, "--Select Site--", new { @class = "form-control", @style = "min-width:80px", aria_label="Site" })
            @Html.DropDownListFor(model => model.selMonth, Model.ddl_Month, "", new { @class = "form-control", @style = "min-width:80px", aria_label = "Month" })
            @Html.DropDownListFor(model => model.selDay, Model.ddl_Day, "", new { @class = "form-control", @style = "min-width:80px", aria_label = "Day" })
            @Html.DropDownListFor(model => model.selYear, Model.ddl_Year, "", new { @class = "form-control", @style = "min-width:80px", aria_label = "Year" })
            @Html.DropDownListFor(model => model.selTime, Model.ddl_Time, "", new { @class = "form-control", @style = "min-width:80px", aria_label = "Time Type" })
            <button id="btnGo" type="submit" class="btn btn-primary">Go</button>
        }
        @if (Model.Results != null && Model.Results.Count > 0 && Model.selSite != null)
        {
            <div class="row col-md-12">
                <a href="@Url.Action("ReportDailyExport", "Home", new { id=Model.selSite, monid=Model.selMonth, month=Model.selMonth, year=Model.selYear, day=Model.selDay, time=Model.selTime })" class="btn btn-rounded btn-sm btn-primary pull-left" style="margin-left:30px; border-bottom-left-radius:0; border-bottom-right-radius:0"><span class="fa fa-download"></span> Export</a>
            </div>
            <div class="row col-md-12">
                <div class="table-responsive">
                    <table id="gridData" class="table table-striped table-bordered" style="width:100%;" summary="Daily air monitoring results for the selected site and monitor">
                        <thead>
                            <tr>
                                <th rowspan="2">Parameter Measured</th>
                                <th colspan="12">Morning</th>
                                <th colspan="12">Afternoon</th>
                            </tr>
                            <tr>
                                <th>Mid</th>
                                <th>1:00</th>
                                <th>2:00</th>
                                <th>3:00</th>
                                <th>4:00</th>
                                <th>5:00</th>
                                <th>6:00</th>
                                <th>7:00</th>
                                <th>8:00</th>
                                <th>9:00</th>
                                <th>10:00</th>
                                <th>11:00</th>
                                <th>Noon</th>
                                <th>1:00</th>
                                <th>2:00</th>
                                <th>3:00</th>
                                <th>4:00</th>
                                <th>5:00</th>
                                <th>6:00</th>
                                <th>7:00</th>
                                <th>8:00</th>
                                <th>9:00</th>
                                <th>10:00</th>
                                <th>11:00</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Results)
                            {
                                <tr class="">
                                    <td class="celldk" style="text-align: left;">
                                        @Html.DisplayFor(modelItem => item.PAR_CODE)
                                        @Html.DisplayFor(modelItem => item.PAR_NAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C0)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C5)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C6)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C7)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C8)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C9)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C10)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C11)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C12)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C13)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C14)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C15)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C16)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C17)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C18)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C19)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C20)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C21)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C22)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.C23)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
         }
        <div class="row col-md-12">
            <h5>Notes:</h5>
            <ul>
                <li>
                    Maximum daily values are <span class="max">red bold</span> within the table.
                </li>
                <li>
                    This data has not been verified by QREST tribal professionals and may change. This is the most current data, but it is not official until it has been certified by tribal technical staff. Data is collected from ambient monitoring sites and updated hourly.
                </li>
            </ul>
        </div>
    </div>
</section>

<style>
    .panel .table td, .panel .table th {
        padding: 2px 6px;
        text-align: center;
    }
</style>

@section Scripts {
    <script>

        //******* highlight max values **************
        $('#gridData tbody tr').each(function() {
            var $tds = $(this).find('td:not(:first-child)');
            var values = $tds.map(function () {
                return parseFloat($(this).text().trim()) || -999;
          }).get();
          $tds.eq(values.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0)).addClass('max');
        });


        $(document).ready(function () {

            //update monitor dropdown
            var url = '@Url.Action("FetchMonitorsBySite")';
            var mons = $('#selMon');
            $('#selSite').change(function () {
                mons.empty();
                $.getJSON(url, { ID: $(this).val() }, function (data) {
                    if (!data) {
                        return;
                    }
                    mons.append($('<option></option>').val('').text('Please select'));
                    $.each(data, function (index, item) {
                        mons.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                });
            });
        });
    </script>
}