@model QREST.Models.vmDataAQSList
@{
    ViewBag.Title = "AQS";
    ViewBag.HelpLink = "AQS-Submission";
}

@if (Model.ddl_Organization != null && Model.ddl_Organization.Count() > 1)
{
    using (Html.BeginForm("AQS", "Data", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Organization:
            </label>
            <div class="col-sm-6">
                @Html.DropDownListFor(model => model.selOrgID, Model.ddl_Organization, "", new { @class = "form-control", @onchange = "document.location.href = '/Data/AQSList?selOrgID=' + this.options[this.selectedIndex].value;" })
            </div>
        </div>
    }
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">AQS Submissions</header>
    <div class="panel-body">
        @if (Model.T_QREST_AQS != null)
        {
            <div class="table-responsive">
                <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 120px;"></th>
                            <th>Site</th>
                            <th>Submission Name</th>
                            <th>Submission Date (UTC)</th>
                            <th>Data Date Range</th>
                            <th>Submitted By</th>
                            <th>Comments</th>
                            <th>Submission File</th>
                            <th>Submission Status</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.T_QREST_AQS)
                    {
                        <tr>
                            <td>
                                <a href="#modal-form" data-toggle="modal" data-id="@item.AQS_IDX" data-comment="@item.COMMENT" data-name="@item.AQS_SUBMISSION_NAME" class="btn btn-rounded btn-xs btn-primary modal-it" style="display: inline-block;"> <i class="fa fa-pencil"></i></a>
                                <div class="delete-section" style="display:inline-block">
                                    <a class=" btn btn-rounded btn-xs btn-danger delete-link"><i class="fa fa-times"></i></a>
                                    <div class="btn btn-rounded btn-xs btn-warning delete-confirm" style="display:none" data-delete-id="@item.AQS_IDX" data-delete-p="/Data/AQSDelete">
                                        <b>Confirm Delete</b>
                                    </div>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SITE_ID)
                                @Html.DisplayFor(modelItem => item.SITE_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AQS_SUBMISSION_NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CREATE_DT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.START_DT) -
                                @Html.DisplayFor(modelItem => item.END_DT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SUBMITTER)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COMMENT)
                            </td>
                            <td>
                                <a class="text-info" href="@Url.Action("AQSFileDownload", new { id = item.AQS_IDX })">Text</a>

                                |
                                <a class="text-info" href="@Url.Action("AQSFileDownloadHeader", new { id = item.AQS_IDX })">XML</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SUBMISSION_STATUS)
                            </td>
                            <td>
                                @if (item.SUBMISSION_STATUS == "File Created")
                                {
                                    <a id="btnResult" href="@(Url.Action("AQSSubmitToEPA", "Data", new { id = item.AQS_IDX }))" class="btn btn-rounded btn-sm btn-danger" style="display: inline-block;">Submit to EPA</a>
                                }
                                else if (item.SUBMISSION_STATUS == "Submitted-Processing" || item.SUBMISSION_STATUS == "Processing" || item.SUBMISSION_STATUS == "Pending" || (item.SUBMISSION_STATUS == "Completed" && item.SUBMISSION_SUBSTATUS == null))
                                {
                                    <a id="btnResult" href="#" class="btn btn-rounded btn-sm btn-warning getStatus" data-id="@item.AQS_IDX" style="display: inline-block;">Get Status</a>
                                }
                                else if (item.SUBMISSION_STATUS == "Failed" && item.DOWNLOAD_FILE_IND == false)
                                {
                                    <a id="btnResult" href="#" class="btn btn-rounded btn-sm btn-dark download" data-id="@item.AQS_IDX" data-dl-url="@Url.Action("AQSResponseDownload", new { id = item.AQS_IDX })" style="display: inline-block;">Download Errors</a>
                                }
                                else if (item.SUBMISSION_STATUS == "Completed" && item.DOWNLOAD_FILE_IND == false)
                                {
                                    <a id="btnResult" href="#" class="btn btn-rounded btn-sm btn-dark download" data-id="@item.AQS_IDX" data-dl-url="@Url.Action("AQSResponseDownload", new { id = item.AQS_IDX })" style="display: inline-block;">Get AQS Load Report</a>
                                }
                                else if (item.SUBMISSION_STATUS == "Failed" && item.DOWNLOAD_FILE_IND == true)
                                {
                                    <a id="btnResult" class="text-info " href="@Url.Action("AQSResponseDownload", new { id = item.AQS_IDX })">Validation Errors</a>
                                }
                                else if (item.SUBMISSION_STATUS == "Completed" && item.DOWNLOAD_FILE_IND == true)
                                {
                                    <a id="btnResult" class="text-info " href="@Url.Action("AQSResponseDownload", new { id = item.AQS_IDX })">AQS Load Report</a>
                                }

                                <!--show substatus if there is any-->
                                @if (item.SUBMISSION_SUBSTATUS != null)
                                {
                                    <button class="btn btn-sm btn-rounded btn-primary" data-toggle="popover" data-html="true" data-placement="top" data-content="<div class='scrollable' style='height:80px'>@item.SUBMISSION_SUBSTATUS</div>" title="Details" data-original-title="<button type=&quot;button&quot; class=&quot;close pull-right&quot; data-dismiss=&quot;popover&quot;>×</button>Details" aria-describedby="popover528835">Details</button>
                                }
                            </td>

                        </tr>
                    }
                </table>
            </div>
        }
        <a href="@Url.Action("AQSGen", "Data")" class="btn btn-sm btn-primary btn-rounded"><i class="fa fa-plus"></i> Add</a>

    </div>
</section>


<!-- START EDIT MODAL  -->
<div class="modal fade" id="modal-form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="width:600px">

        @using (Html.BeginForm("AQSListEdit", "Data", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.editID)
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title">Edit Submission</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Submission Name</label>
                                @Html.TextBoxFor(model => model.editSUBMISSION_NAME, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comment</label>
                                @Html.TextAreaFor(model => model.editCOMMENT, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END EDIT MODAL -->
<!-- PLEASE WAIT MODAL -->
<div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Processing...</h1>
            </div>
            <div class="modal-body">
                Processing - please wait.
            </div>
        </div>
    </div>
</div>

@Html.Partial("_PleaseWait", "Shared")
@section Scripts {
    @Scripts.Render("~/bundles/confirm-delete")

    <script type="text/javascript">
    $(document).ready(function () {

        //**************load edit modal****************
        $(document).on('click', '.modal-it', function () {
            $("#editID").val($(this).attr('data-id'));
            $("#editCOMMENT").val($(this).attr('data-comment'));
            $("#editSUBMISSION_NAME").val($(this).attr('data-name'));
        });


        //******************get status*******************
        $(document).on('click', '.getStatus', function () {
            $('#pleaseWaitDialog').modal('show');
            var btn = $(this);
            $.post('@Url.Action("AQSGetStatus","Data")',
                AddAntiForgeryToken({
                    id: $(this).attr('data-id')
                }))
                .done(function (response) {
                    $('#pleaseWaitDialog').modal('hide');

                    if (response != "ERROR") {

                        if (response == "Failed") {
                            btn.removeClass("getStatus").addClass("download").removeClass("btn-warning").addClass("btn-dark");
                            btn.get(0).lastChild.nodeValue = "Download Errors";
                        }
                        else if (response == "Completed") {
                            location.reload();
                            return false;
                        }
                        toastr.success("Get Status updated.");
                    }
                    else
                        toastr.warning("Error calling Get Status");

                }).fail(function (data) {
                    $('#pleaseWaitDialog').modal('hide');
                    toastr.warning("Unable to Get Status");
                });
        });


        //******************download*******************
        $(document).on('click', '.download', function () {
            $('#pleaseWaitDialog').modal('show');
            var btn = $(this);

            $.post('@Url.Action("AQSDownload","Data")',
                AddAntiForgeryToken({
                    id: $(this).attr('data-id')
                }))
                .done(function (response) {
                    $('#pleaseWaitDialog').modal('hide');

                    if (response == "Success") {
                        location.reload();

                    //    btn.removeClass("btn").removeClass("btn-sm").removeClass("btn-rounded").removeClass("btn-dark").removeClass("download").addClass("text-info");
                    //    btn.get(0).lastChild.nodeValue = "Validation Errors";
                    //    btn.attr("href", btn.attr('data-dl-url'));
                    //    toastr.success("Error Report Downloaded");
                    }
                    else
                        toastr.warning("Unable to download");
                }).fail(function (data) {
                    $('#pleaseWaitDialog').modal('hide');
                    toastr.warning("Unable to Download");
                });
        });


    });

    </script>
}

