@model QREST.Models.vmDataReviewSummary
@{
    ViewBag.Title = "Data Review Summary";
    ViewBag.HelpLink = "Data-Review";
    var currentMonth = DateTime.Now.Month;
    var currentYear = DateTime.Now.Year;
    bool hideMissingButton = (Model.selMonth == currentMonth && Model.selYear == currentYear);
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">
        Monthly Data Review Summary
    </header>
    <a href="@Url.Action("DataReview")" class="btn btn-xs btn-default pull-right" >Advanced Selection</a>

    <div class="panel-body">
        @using (Html.BeginForm("DataReviewSummary", "Data", FormMethod.Post, new { @id = "", role = "form", @class = "form-inline m-b-sm" }))
        {
            @Html.DropDownListFor(model => model.selSite, Model.ddl_Sites, "--Select Site--", new { @class = "form-control", @style = "min-width:80px" })
            @Html.DropDownListFor(model => model.selMonth, Model.ddl_Month, "", new { @class = "form-control", @style = "min-width:80px" })
            @Html.DropDownListFor(model => model.selYear, Model.ddl_Year, "", new { @class = "form-control", @style = "min-width:80px" })
            <button id="btnGo" type="submit" class="btn btn-primary">Go</button>
        }
        @if (Model.Results != null)
        {
            @*if (Model.FiveMinGaps > 0)
            {
            <div class="alert alert-danger">
                <b>WARNING: </b>@Model.FiveMinGaps gap(s) of missing 5 minute data were detected for this site in the last 30 days. Click to resolve.
                <br/>
                <a class=" btn btn-danger" href="@Url.Action("FillGaps", new { id = Model.selSite } )">Resolve</a>
            </div>
            }*@

            if (Model.Results.Count == 0)
            {
                <span class="text-danger">No data for the selected parameter and month.</span>
            }
            <div class="row">
                @foreach (var item in Model.Results)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <section class="panel panel-default panel-pct" style="border-width:2px;" data-percent="@(item.tot_pct)">
                            <header class="panel-heading bg-default lt no-border">
                                <div class="clearfix">
                                    <div class="chart pull-left m-r" data-percent="@(item.tot_pct)" data-scale-color="#ffb400">
                                        <span style="margin-top: 18px; display: block;">
                                            @(item.tot_pct)%
                                        </span>
                                    </div>
                                    <div class="clear">
                                        <div class="h4 m-t-xs m-b-xs">
                                            @item.PAR_NAME
                                        </div>
                                        <small class="text-muted">Par Code: @item.PAR_CODE</small>
                                        <small class="text-muted m-l-lg">POC: @item.POC</small>
                                    </div>
                                </div>
                            </header>
                            <div class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-rounded btn-xs btn-dark padder m-xs" style="background-color:#2c66af" href="@Url.Action("DataReview2", new { monid = item.MONITOR_IDX, sdt = Model.selsDt, edt = Model.seleDt, dur = 1 })">Review</a>
                                    <button class="btn btn-rounded btn-xs btn-dark dropdown-toggle padder m-xs" data-toggle="dropdown" style="background-color:#2c66af"><span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("DataReview", new { monid = item.MONITOR_IDX, sdt = Model.selsDt, edt = Model.seleDt })">Advanced Selection</a>
                                        </li>
                                    </ul>
                                </div>
                                <a class="btn btn-rounded btn-xs btn-dark padder m-xs" style="background-color:#2c66af" href="@Url.Action("DataDocs", new { id = Model.selSite, monid = item.MONITOR_IDX, sDt = Model.selsDt.Value.ToString("d"), eDt = Model.seleDt.Value.ToString("d") })">
                                    Documentation @if (item.doc_cnt > 0)
                                    {<span class="badge bg-black badge-xs ">@item.doc_cnt</span>}
                                </a>
                            </div>
                            <footer class="panel-footer bg-default text-center">
                                <div class="row pull-out" style="display:flex">
                                    <div class="aaa col-xs-3 fa-border" data-num="@item.hrs_data" data-denom="@item.hrs">
                                        <div class="padder-v">
                                            <span class="m-b-xs h4 block text-white">@item.hrs_data / @item.hrs</span>
                                            <small class="text-muted">Collected</small>
                                            @if (item.hrs_data < item.hrs  && !hideMissingButton)
                                            {
                                                <a class="btn btn-rounded btn-xs btn-dark padder m-xs" style="background-color:#2c66af" href="@Url.Action("DataFillLostData", new { monid = item.MONITOR_IDX, month = Model.selMonth, year = Model.selYear })"
                                                   data-toggle="tooltip" data-original-title="Add missing hourly records with blank records marked with qualifier 'LOST'">Fill Missing Data</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="aaa col-xs-3 fa-border" data-num="@item.aqs_ready" data-denom="@item.hrs">
                                        <div class="padder-v">
                                            <span class="m-b-xs h4 block text-white">@item.aqs_ready / @item.hrs</span>
                                            <small class="text-muted">Suitable for AQS</small>
                                        </div>
                                    </div>
                                    <div class="aaa col-xs-3 fa-border" data-num="@item.lvl1_val_ind" data-denom="@item.hrs">
                                        <div class="padder-v">
                                            <span class="m-b-xs h4 block text-white">@item.lvl1_val_ind / @item.hrs</span>
                                            <small class="text-muted">Lvl 1 Check</small>
                                        </div>
                                    </div>
                                    <div class="aaa col-xs-3 fa-border" data-num="@item.lvl2_val_ind" data-denom="@item.hrs">
                                        <div class="padder-v">
                                            <span class="m-b-xs h4 block text-white">@item.lvl2_val_ind / @item.hrs</span>
                                            <small class="text-muted">Lvl 2 Check</small>
                                        </div>
                                    </div>
                                </div>
                            </footer>

                        </section>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row col-md-12">No data</div>
        }
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/easypiechart")
    <script>

        $(document).ready(function () {


            //******* shade values **************
            $('.aaa').each(function () {
                if ($(this).data("num") == 0) {
                    $(this).addClass("bg-danger");
                }
                else if ($(this).data("num") == $(this).data("denom")) {
                    $(this).addClass("bg-success");
                }
                else {
                    $(this).addClass("bg-warning");
                }
            });

            $('.panel-pct').each(function () {
                if ($(this).data("percent") < 25) {
                    $(this).addClass("panel-danger");
                }
                else if ($(this).data("percent") == 100) {
                    $(this).addClass("panel-success");
                }
                else {
                    $(this).addClass("panel-warning");
                }
            });


            $(function () {
                $('.chart').easyPieChart({
                    size: 55,
                    lineWidth: 4,
                    rotate: 0,
                    barColor: function (percent) {
                        if (percent < 25)
                            return "#ff0000";
                        else if (percent < 70)
                            return "#ffc333";
                        else
                            return "#8ec165";
                    }
                });
            });

        });
    </script>

    <style>
        .chart {
            position: relative;
            display: inline-block;
            width: 55px;
            height: 55px;
            margin-top: 1px;
            margin-bottom: 1px;
            text-align: center;
        }

            .chart canvas {
                position: absolute;
                top: 0;
                left: 0;
            }

        .percent {
            display: inline-block;
            line-height: 55px;
            z-index: 2;
        }

            .percent:after {
                content: '%';
                margin-left: 0.1em;
                font-size: .8em;
            }
    </style>
}
